<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <form autocomplete="false">
        <div class="row">
          <div class="row align-items-center">
            <h3 class="card-title">Behavior Analysis Assessment</h3>
            <div class="col-12 col-md-4 col-xl-4">
              <div class="form-group local-forms">
                <label>
                  Type of Assessment:<span class="login-danger">*</span>
                </label>
                <select
                  class="form-control form-select-solid fw-bolder"
                  name="type_of_assessment"
                  [(ngModel)]="bip.type_of_assessment"
                >
                  <option>-- Select --</option>
                  <option [value]="1">Assessment</option>
                  <option [value]="2">Reassessment</option>
                  <option [value]="3">Initial</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-12">
              <div class="form-group local-forms">
                <label>
                  Background Information
                  <span class="login-danger">*</span>
                </label>
                <textarea
                  class="form-control"
                  name="background_information"
                  [(ngModel)]="bip.background_information"
                  rows="4"
                  cols="30"
                >
                </textarea>
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group local-forms">
                <label>
                  Previous treatments and results
                  <span class="login-danger">*</span>
                </label>
                <textarea
                  class="form-control"
                  name="previus_treatment_and_result"
                  [(ngModel)]="bip.previus_treatment_and_result"
                  rows="4"
                  cols="30"
                >
                </textarea>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group local-forms">
                <label>
                  Current treatment and progress
                  <span class="login-danger">*</span>
                </label>
                <textarea
                  class="form-control"
                  name="current_treatment_and_progress"
                  [(ngModel)]="bip.current_treatment_and_progress"
                  rows="4"
                  cols="30"
                >
                </textarea>
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-12 col-md-6">
              <div class="form-group local-forms">
                <label>
                  Education status <span class="login-danger">*</span>
                </label>
                <textarea
                  class="form-control"
                  name="education_status"
                  [(ngModel)]="bip.education_status"
                  rows="4"
                  cols="30"
                >
                </textarea>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group local-forms">
                <label>
                  Physical and Medical Status
                  <span class="login-danger">*</span>
                </label>
                <textarea
                  class="form-control"
                  name="phisical_and_medical_status"
                  [(ngModel)]="bip.phisical_and_medical_status"
                  rows="4"
                  cols="30"
                >
                </textarea>
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-12 col-md-6">
              <div class="form-group local-forms">
                <label>Strengths <span class="login-danger">*</span> </label>
                <textarea
                  class="form-control"
                  name="strengths"
                  [(ngModel)]="bip.strengths"
                  rows="4"
                  cols="30"
                >
                </textarea>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group local-forms">
                <label>Weakneses <span class="login-danger">*</span> </label>
                <textarea
                  class="form-control"
                  name="weakneses"
                  [(ngModel)]="bip.weakneses"
                  rows="4"
                  cols="30"
                >
                </textarea>
              </div>
            </div>
          </div>

          <!-- Documents -->
          <div class="row align-items-center my-2">
            <app-list-and-form
              #documentsList
              title="Documents Reviewed"
              [(newItem)]="newDocument"
              [(dataSource)]="bip.documents_reviewed"
              [displayedColumns]="['title']"
              (edit)="newDocument = $event"
            >
              <app-document-form
                [(input)]="newDocument"
                (cancel)="documentsList.onClose()"
                (save)="documentsList.onAdd($event)"
              >
              </app-document-form>
            </app-list-and-form>
          </div>

          <!-- Medicals -->
          <div class="row align-items-center mt-4">
            <app-list-and-form
              title="Physical And Medical Status"
              [(newItem)]="newMedication"
              [(dataSource)]="bip.phisical_and_medical"
              [displayedColumns]="[
                'medication',
                'dose',
                'frecuency',
                'reason',
                'preescribing_physician'
              ]"
            >
              <app-phisical-and-medical
                [(input)]="newMedication"
              ></app-phisical-and-medical>
            </app-list-and-form>
          </div>

          <div class="row align-items-center my-2">
            <div class="doctor-submit text-end">
              <button
                type="button"
                class="btn btn-primary submit-form"
                (click)="onSave()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
