<div *ngIf="!patient">
  <app-no-info></app-no-info>
</div>

<div class="page-wrapper" *ngIf="patient">
  <div class="content">
    <!-- Page Header -->
    <app-page-header></app-page-header>

    <!-- /Page Header -->
    <div class="row" id="contentToConvert" #contentToConvert>
      <div class="col-sm-12" *ngIf="bip">
        <div>
          <app-bip-profile-head
            [patient]="patient"
            [contentToConvert]="$any(contentToConvert)"
          ></app-bip-profile-head>
        </div>
        <!-- data client -->
        <div appEditWrapper (editingChange)="onEditClient()">
          <app-bip-profile-patient-data
            [patient]="patient"
          ></app-bip-profile-patient-data>
        </div>

        <!-- Background Information-->

        <div
          appEditWrapper
          #backgroundWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-background
            *ngIf="!backgroundWrapper.editing"
            [bip]="bip"
          >
          </app-bip-profile-background>
          <!-- Edit -->
          <app-behavior-analysis-assessment
            *ngIf="backgroundWrapper.editing"
            [(input)]="bip"
            (save)="backgroundWrapper.stopEditing(true)"
            (cancel)="backgroundWrapper.stopEditing(false)"
          ></app-behavior-analysis-assessment>
        </div>

        <!-- Maladaptives Behaviors -->
        <div
          appEditWrapper
          #maladaptivesWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-maladaptives
            *ngIf="!maladaptivesWrapper.editing"
            [input]="bip.maladaptives"
          ></app-bip-profile-maladaptives>
          <!-- Edit -->
          <app-reduction-goal-form
            *ngIf="maladaptivesWrapper.editing"
            [(input)]="bip.maladaptives"
            [patient_identifier]="patient.patient_identifier"
            (save)="maladaptivesWrapper.stopEditing(true)"
            (cancel)="maladaptivesWrapper.stopEditing(false)"
          ></app-reduction-goal-form>
        </div>

        <!-- Assestment Conducted-->
        <div
          appEditWrapper
          #assessmentWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-assestment
            *ngIf="!assessmentWrapper.editing"
            [bip]="bip"
          ></app-bip-profile-assestment>
          <!-- Edit -->
          <app-assestment
            *ngIf="assessmentWrapper.editing"
            [(assestmentEvaluationSettings)]="
              bip.assestment_evaluation_settings
            "
            [(assesstmentsDocuments)]="bip.assestment_conducted_options"
            [(assestmentConducted)]="bip.assestment_conducted"
            (save)="assessmentWrapper.stopEditing(true)"
            (cancel)="assessmentWrapper.stopEditing(false)"
          ></app-assestment>
        </div>

        <!-- Prevalent Setting Events & Antecedents-->
        <div
          appEditWrapper
          #prevalentWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-prevalent
            *ngIf="!prevalentWrapper.editing"
            [input]="bip.prevalent_setting_event_and_atecedents"
          ></app-bip-profile-prevalent>
          <!-- Edit -->
          <app-prevalent-setting
            *ngIf="prevalentWrapper.editing"
            [(input)]="bip.prevalent_setting_event_and_atecedents"
            (save)="prevalentWrapper.stopEditing(true)"
            (cancel)="prevalentWrapper.stopEditing(false)"
          ></app-prevalent-setting>
        </div>

        <!-- Hypothesis-based interventions-->
        <div
          appEditWrapper
          #hypothesisWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-hypothesis
            *ngIf="!hypothesisWrapper.editing"
            [bip]="bip"
          ></app-bip-profile-hypothesis>
          <!-- Edit -->
          <app-hypothesis-based-interventions
            *ngIf="hypothesisWrapper.editing"
            [(input)]="bip"
            (save)="hypothesisWrapper.stopEditing(true)"
            (cancel)="hypothesisWrapper.stopEditing(false)"
          ></app-hypothesis-based-interventions>
        </div>

        <!-- interventions -->
        <div
          appEditWrapper
          #interventionsWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-interventions
            *ngIf="!interventionsWrapper.editing"
            [input]="bip.interventions"
          ></app-bip-profile-interventions>
          <!-- Edit -->
          <app-interventions
            *ngIf="interventionsWrapper.editing"
            [(input)]="bip.interventions"
            (save)="interventionsWrapper.stopEditing(true)"
            (cancel)="interventionsWrapper.stopEditing(false)"
          ></app-interventions>
        </div>

        <!-- Reduction Goals-->
        <div
          appEditWrapper
          #reductionsWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-reductions
            *ngIf="!reductionsWrapper.editing"
            [input]="bip.maladaptives"
            title="Maladaptive Goals"
            graphTitle="Reduction Graphs"
          ></app-bip-profile-reductions>
          <!-- Edit -->
          <app-reduction-goal-form
            *ngIf="reductionsWrapper.editing"
            [(input)]="bip.maladaptives"
            [patient_identifier]="patient.patient_identifier"
            (save)="reductionsWrapper.stopEditing(true)"
            (cancel)="reductionsWrapper.stopEditing(false)"
          ></app-reduction-goal-form>
        </div>

        <!-- Replacement Goals-->
        <div
          appEditWrapper
          #replacementsWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-reductions
            *ngIf="!replacementsWrapper.editing"
            [input]="bip.replacements"
            title="Replacement Goals"
            graphTitle="Replacement/Aquisition Graphs"
          ></app-bip-profile-reductions>
          <!-- Edit -->
          <app-sustitution-list
            *ngIf="replacementsWrapper.editing"
            [(input)]="bip.replacements"
            (save)="replacementsWrapper.stopEditing(true)"
            (cancel)="replacementsWrapper.stopEditing(false)"
          ></app-sustitution-list>
        </div>

        <!-- Family Involvement-->
        <div
          appEditWrapper
          #familyWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-family
            *ngIf="!familyWrapper.editing"
            [input]="bip.caregiver_trainings"
          ></app-bip-profile-family>
          <!-- Edit -->
          <app-family-involvement-goal-form
            *ngIf="familyWrapper.editing"
            [(input)]="bip.caregiver_trainings"
            (save)="familyWrapper.stopEditing(true)"
            (cancel)="familyWrapper.stopEditing(false)"
          ></app-family-involvement-goal-form>
        </div>

        <!-- Monitoring Evaluating-->
        <div
          appEditWrapper
          #monitoringWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-monotoring
            *ngIf="!monitoringWrapper.editing"
            [rbt_training_goals]="bip.rbt_trainings"
          ></app-bip-profile-monotoring>
          <!-- Edit -->
          <app-monitoring-evaluating
            *ngIf="monitoringWrapper.editing"
            [(input)]="bip.rbt_trainings"
            (save)="monitoringWrapper.stopEditing(true)"
            (cancel)="monitoringWrapper.stopEditing(false)"
          ></app-monitoring-evaluating>
        </div>

        <!-- behavior asistant (only text) -->
        <div>
          <app-bip-profile-behavior [bip]="bip"></app-bip-profile-behavior>
        </div>

        <!-- Generalization Training-->
        <div
          appEditWrapper
          #generalizationWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-generalization
            *ngIf="!generalizationWrapper.editing"
            [input]="bip.generalization_trainings"
          ></app-bip-profile-generalization>
          <!-- Edit -->
          <app-generalization-training
            *ngIf="generalizationWrapper.editing"
            [(input)]="bip.generalization_trainings"
            (save)="generalizationWrapper.stopEditing(true)"
            (cancel)="generalizationWrapper.stopEditing(false)"
          ></app-generalization-training>
        </div>

        <!-- Risk Assestment -->
        <div
          appEditWrapper
          #riskAssestmentWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-risk-assestment
            *ngIf="!riskAssestmentWrapper.editing"
            [input]="bip.risk_assessment"
          ></app-bip-profile-risk-assestment>
          <!-- Edit -->
          <app-risk-assestment-form
            *ngIf="riskAssestmentWrapper.editing"
            [(input)]="bip.risk_assessment"
            (save)="riskAssestmentWrapper.stopEditing(true)"
            (cancel)="riskAssestmentWrapper.stopEditing(false)"
          ></app-risk-assestment-form>
        </div>

        <!-- Fading Plan -->
        <div
          appEditWrapper
          #fadingPlanWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-fading-plan
            *ngIf="!fadingPlanWrapper.editing"
            [input]="bip.fading_plan"
          ></app-bip-profile-fading-plan>
          <!-- Edit -->
          <app-fading-plan-form
            *ngIf="fadingPlanWrapper.editing"
            [(input)]="bip.fading_plan"
            (save)="fadingPlanWrapper.stopEditing(true)"
            (cancel)="fadingPlanWrapper.stopEditing(false)"
          ></app-fading-plan-form>
        </div>

        <!-- Discharge Plan -->
        <div
          appEditWrapper
          #dischargePlanWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-discharge-plan
            *ngIf="!dischargePlanWrapper.editing"
            [input]="bip.discharge_plan"
          ></app-bip-profile-discharge-plan>
          <!-- Edit -->
          <app-discharge-plan-form
            *ngIf="dischargePlanWrapper.editing"
            [(input)]="bip.discharge_plan"
            (save)="dischargePlanWrapper.stopEditing(true)"
            (cancel)="dischargePlanWrapper.stopEditing(false)"
          ></app-discharge-plan-form>
        </div>

        <!-- Crisis Plan-->
        <div
          appEditWrapper
          #crisisWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-crisis-plan
            *ngIf="!crisisWrapper.editing"
            [input]="bip.crisis_plan"
          ></app-bip-profile-crisis-plan>
          <!-- Edit -->
          <app-crisis-plan
            *ngIf="crisisWrapper.editing"
            [(input)]="bip.crisis_plan"
            (save)="crisisWrapper.stopEditing(true)"
            (cancel)="crisisWrapper.stopEditing(false)"
          ></app-crisis-plan>
        </div>

        <!-- De-escalation Techniques-->
        <div
          appEditWrapper
          #deEscalationWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-de-escalation
            *ngIf="!deEscalationWrapper.editing"
            [input]="bip.de_escalation_techniques"
          ></app-bip-profile-de-escalation>
          <!-- Edit -->
          <app-de-escalation-tecniques
            *ngIf="deEscalationWrapper.editing"
            [(input)]="bip.de_escalation_techniques"
            (save)="deEscalationWrapper.stopEditing(true)"
            (cancel)="deEscalationWrapper.stopEditing(false)"
          ></app-de-escalation-tecniques>
        </div>

        <!--Service Recomendations-->
        <div
          appEditWrapper
          #serviceRecomendationWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-service-recomendation
            *ngIf="!serviceRecomendationWrapper.editing"
            [input]="bip.recommendations"
          ></app-bip-profile-service-recomendation>
          <!-- Edit -->
          <app-service-recomendation
            *ngIf="serviceRecomendationWrapper.editing"
            [(input)]="bip.recommendations"
            (save)="serviceRecomendationWrapper.stopEditing(true)"
            (cancel)="serviceRecomendationWrapper.stopEditing(false)"
          ></app-service-recomendation>
        </div>

        <!-- Consent to Treatment-->
        <div
          appEditWrapper
          #consentWrapper="editWrapper"
          (save)="onSave()"
          (cancel)="onCancel()"
        >
          <app-bip-profile-consent
            *ngIf="!consentWrapper.editing"
            [input]="bip.consent_to_treatment"
          ></app-bip-profile-consent>
          <!-- Edit -->
          <app-consent-treatment-edit
            *ngIf="consentWrapper.editing"
            [(input)]="bip.consent_to_treatment"
            (save)="consentWrapper.stopEditing(true)"
            (cancel)="consentWrapper.stopEditing(false)"
          ></app-consent-treatment-edit>
        </div>
      </div>
    </div>
  </div>
</div>
