<div class="card">
  <div class="card-body">
    <div class="row">
      <!-- search -->
      <app-log-notas-search
        [insurances]="insurances"
        [patients]="patients"
        (refresh)="onRefresh()"
        (search)="onFilter($event)"
      ></app-log-notas-search>
      <!-- search -->

      <div class="table-responsive">
        <table
          matSort
          (matSortChange)="sortData($event)"
          class="table table-striped border-0 custom-table comman-table datatable mb-0 sticky-last"
        >
          <thead>
            <tr>
              <th mat-sort-header="role">Type of Note</th>
              <th mat-sort-header="date_note">Date of Note</th>
              <th mat-sort-header="status">Status</th>
              <th mat-sort-header="pos">POS</th>
              <th mat-sort-header="time_in">Time in (M)</th>
              <th mat-sort-header="time_out">Time Out (M)</th>
              <th mat-sort-header="time_in2">Time in (A)</th>
              <th mat-sort-header="time_out2">Time Out (A)</th>
              <th mat-sort-header="totalHours">Total Hours</th>
              <th mat-sort-header="cpt">CPT</th>
              <th mat-sort-header="insurance">Insurance</th>
              <th mat-sort-header="insurerId">Insurer ID</th>
              <th mat-sort-header="client_name">Client Name</th>
              <th mat-sort-header="md">Modifier 1</th>
              <th mat-sort-header="md2">Modifier 2</th>
              <th mat-sort-header="totalunits">Total Units</th>
              <th mat-sort-header="units">Units Price</th>
              <th mat-sort-header="charges">Charges</th>
              <th mat-sort-header="sponsor_id">Provider</th>
              <th mat-sort-header="billed">Billed</th>
              <th mat-sort-header="pay">Pay</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="notes; else noData">
              <ng-container *ngFor="let data of notes">
                <tr
                  appNotasRender
                  [note]="data"
                  [insurances]="insurances"
                  [patients]="patients"
                  (save)="onSave($event)"
                ></tr>
              </ng-container>
            </ng-container>
            <!-- No Data -->
            <ng-template #noData>
              <p>No data available.</p>
            </ng-template>
          </tbody>
        </table>
        <app-table-footer
          [(page)]="currentPage"
          (pageChange)="onPageChange($event)"
          [total]="total"
          [pageSize]="pageSize"
        >
        </app-table-footer>
      </div>
      <app-log-notas-total
        [weekTotalHours]="weekTotalHours"
        [weekTotalUnits]="weekTotalUnits"
      >
      </app-log-notas-total>
    </div>
  </div>
</div>
