<div class="col-xs-12" *ngIf="show97155">
  <!-- was the rbt present -->
  <app-card-with-boolean [value]="note_selected?.was_the_rbt_present" [label]="'Was the RBT present'"></app-card-with-boolean>
  <!-- was the rbt present end -->

  <!-- maladaptives -->
  <div *ngIf="note_selected?.maladaptives?.length > 0 && !note_selected?.was_the_rbt_present" class="card">
    <div class="card-header">
      <h4 class="card-title">Maladaptives</h4>
    </div>
    <div class="card-body p-0">
      <app-split-table [data]="note_selected?.maladaptives" [headerTemplate]="maladaptivesHeader" [rowTemplate]="maladaptivesRow">
        <ng-template #maladaptivesHeader>
          <thead>
            <tr>
          <th>Maladaptive</th>
          <th># of Occurrences</th>
        </tr>
      </thead>
      </ng-template>

      <ng-template #maladaptivesRow let-behavior>
        <td>{{ behavior.name }}</td>
        <td>{{ behavior.frequency }}</td>
      </ng-template>
      </app-split-table>
    </div>
  </div>
  <!-- maladaptives end -->
  <div class="card">
    <app-intervention2-view [interventions2]="interventions2"></app-intervention2-view>
  </div>
  <!-- replacement protocols -->
  <div class="card">
    <app-replacements2-view [obj_inprogress]="obj_inprogress"></app-replacements2-view>

</div>
<!-- replacement protocols end -->

  <!-- Modifications needed at this time -->
  <app-card-with-boolean [value]="note_selected?.modifications_needed_at_this_time" [label]="'Modifications needed at this time'"></app-card-with-boolean>
  <!-- Modifications needed at this time end -->

  <!-- Additional Goals or Interventions -->
  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body p-0">
      <div class="personal-list-out">
        <div class="container">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12">
                <div class="detail-personal">
                  <h2>Additional Goals or Interventions</h2>
                  <p>{{note_selected.additional_goals_or_interventions}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Additional Goals or Interventions -->
</div>
