<div class="col-sm-12">
  <div class="card">
    <!-- Replacements List -->
    <div *ngIf="state === 'list'" class="card-body">
      <app-list-and-form
        title="Goals"
        [hadButton]="true"
        [canOpen]="false"
        [default]="newGoal"
        [(dataSource)]="goals"
        [displayedColumns]="['index', 'name', 'status', 'created_at']"
        [renders]="renders"
        (add)="onCreateGoal()"
        (edit)="onEditGoal($event)"
        (view)="onViewGoal($event)"
        (delete)="onDeleteGoal($event)"
      >
      </app-list-and-form>
    </div>
    <!-- No list -->
    <div class="card-body" *ngIf="state !== 'list'">
      <!-- Back -->
      <div class="doctor-submit text-end">
        <button class="btn btn-primary btn-sm" (click)="onBack()">Back</button>
      </div>
      <!-- Edit/Create -->
      <app-replacement-goal-form
        *ngIf="state === 'edit' || state === 'create'"
        [goal]="newGoal"
      ></app-replacement-goal-form>
      <!-- View -->
      <app-chart-replacement
        *ngIf="state === 'view'"
        [goal]="newGoal.name"
        [baseline_d]="newGoal.baseline_date"
      ></app-chart-replacement>
    </div>
  </div>
</div>
