<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <div class="col-xs-12">
        <app-list-and-form
          *ngIf="state === 'list'"
          #list
          title="Replacements Goals"
          [(dataSource)]="input"
          [displayedColumns]="[
            'name',
            'baseline_level',
            'baseline_date',
            'initial_intensity',
            'current_intensity',
            'description'
          ]"
          [renders]="renders"
          [options]="options"
        >
          <app-replacement-goal-form
            [(input)]="newGoal"
            (cancel)="list.onClose()"
            (save)="list.onAdd($event)"
          ></app-replacement-goal-form>
        </app-list-and-form>
        <!-- Back -->
        <div *ngIf="state !== 'list'" class="doctor-submit text-end">
          <button class="btn btn-primary btn-sm" (click)="onBack()">
            Back
          </button>
        </div>
        <!-- Edit -->
        <div *ngIf="state === 'edit'">
          <app-replacement-goal-form [(input)]="newGoal">
          </app-replacement-goal-form>
        </div>
        <!-- Grafico-->
        <div
          *ngIf="state === 'viewGraph'"
          class="rbt-dashboard-table table-responsive mobile-table-750"
        >
          <app-chart-replacement
            [goal]="newGoal.name"
            [baseline_d]="newGoal.baseline_date"
          ></app-chart-replacement>
        </div>
      </div>
    </div>
  </div>
</div>
