<div class="row">
  <h3 class="card-title">Reduction Goals</h3>
  <app-goal-form-simple [(goal)]="goal"></app-goal-form-simple>

  <app-list-and-form
    class="mt-4"
    title="Short Term Objectives"
    [(newItem)]="newSto"
    [dataSource]="goal.objectives | arrayFilter : 'type' : 'STO'"
    [displayedColumns]="displayedColumns"
    [renders]="renders"
  >
    <app-sto-form [(input)]="newSto"></app-sto-form>
  </app-list-and-form>

  <app-list-and-form
    class="mt-4"
    title="Long Term Objectives"
    [(newItem)]="newLto"
    [dataSource]="goal.objectives | arrayFilter : 'type' : 'LTO'"
    [displayedColumns]="displayedColumns"
    [renders]="renders"
  >
    <app-lto-form [(input)]="newLto"></app-lto-form>
  </app-list-and-form>
</div>
