<h3 class="card-title">Reduction Goals</h3>
<div class="row align-items-center">
  <div class="col-xs-12 col-md-6">
    <div class="form-group local-forms">
      <label>Goal: <span class="login-danger">*</span></label>
      <input
        disabled
        class="form-control"
        name="maladaptive_title"
        [(ngModel)]="maladaptive.name"
        type="text"
        placeholder="Maladaptive title"
      />
    </div>
  </div>
  <div class="col-xs-12 col-md-6" *ngIf="goal">
    <div class="form-group local-forms">
      <label>Current Status <span class="login-danger">*</span></label>
      <input
        class="form-control"
        name="current_status"
        [(ngModel)]="goal.current_status"
        type="text"
      />
    </div>
  </div>
</div>
<app-list-and-form
  #stoListForm
  title="Short Term Objectives"
  [dataSource]="stos"
  [displayedColumns]="[
    'name',
    'description',
    'status',
    'initial_date',
    'end_date'
  ]"
  [options]="stoOptions"
  [renders]="renders"
  [noDataText]="'Please Add Short Terms'"
  openButtonText="Add"
>
  <app-sto-form [(sto)]="newSto" (save)="onSaveSto($event)"></app-sto-form>
</app-list-and-form>

<!-- ------------------------ -->
<app-list-and-form
  #ltoListForm
  title="Long Term Objectives"
  [dataSource]="ltos"
  [displayedColumns]="[
    'name',
    'description',
    'status',
    'initial_date',
    'end_date'
  ]"
  [options]="ltoOptions"
  [renders]="renders"
  noDataText="Please Add <b>ONE</b> Long Term"
  openButtonText="Add"
>
  <app-lto-form [(lto)]="newLto" (save)="onSaveLto($event)"></app-lto-form>
</app-list-and-form>
