<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <form autocomplete="false">
        <div class="row">
          <div class="row align-items-center">
            <!-- Assestments -->
            <div class="col-12">
              <div class="card-box">
                <div class="card-block">
                  <div class="row align-items-center my-4">
                    <app-list-and-form
                      #list
                      title="Prevalent Setting Events & Antecedents"
                      [(newItem)]="newItem"
                      [(dataSource)]="prevalentSettingEventAndAntecedents"
                      [displayedColumns]="[
                        'prevalent_setting_event_and_atecedent',
                        'behavior',
                        'hypothesized_functions'
                      ]"
                    >
                      <app-prevalent-setting-event-and-antecedent
                        [(input)]="newItem"
                        (cancel)="list.onClose()"
                        (save)="list.onAdd($event)"
                      ></app-prevalent-setting-event-and-antecedent>
                    </app-list-and-form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Assestments -->
        </div>

        <div class="col-12">
          <div class="doctor-submit text-end">
            <button
              type="button"
              class="btn btn-primary submit-form me-2"
              (click)="onSave()"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
