<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="form-group local-forms">
      <label> Document Title<span class="login-danger">*</span> </label>
      <input
        class="form-control"
        name="assestment_title"
        [(ngModel)]="input.title"
        type="text"
      />
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="form-group local-forms">
      <label>Status<span class="login-danger">*</span> </label>
      <select
        class="form-control form-select-solid fw-bolder"
        name="assestment_status"
        [(ngModel)]="input.status"
        placeholder="state"
      >
        <option>-- Select --</option>
        <option value="pending">Pending</option>
        <option value="reviewing">Reviewing</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>
  </div>

  <div class="col-12 mb-3 doctor-submit text-end">
    <button class="btn btn-primary btn-sm" (click)="onSave()">
      Update Assestment Document
    </button>
  </div>
</div>
