<!-- other -->
<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <div class="col-xs-12">
        <h3 class="card-title">
          Monitoring and Evaluating the Effectiveness of the plan/ Treatment
          Fidelity
        </h3>
        <p>
          Ongoing training and monitoring of the RBT will occur on a weekly
          basis to ensure proper implementation of the behavior program. The
          BCBA/lead analyst will conduct weekly competency checks to ensure
          proper program implementation. The BCBA/lead analyst will graph the
          data, depicting the results of the competency checks on monthly
          progress reports. Also, the BCBA/lead analyst will collect IOA data at
          least once a month to ensure proper data collection.
        </p>
        <p>Objectives included in assistant competency checks:</p>
        <ol>
          <li>Data collection</li>
          <li>Interventions/Environmental manipulations.</li>
          <li>
            Replacement goals used to teach the proper alternative to the
            maladaptive behavior targeted.
          </li>
          <li>Use of reinforcement</li>
        </ol>
        <app-list-and-form
          *ngIf="state === 'list'"
          #list
          title="RBT Training Goals"
          [(newItem)]="newGoal"
          [(dataSource)]="input"
          [displayedColumns]="displayedColumns"
          [renders]="renders"
          [options]="options"
        >
          <app-plan-form
            [(input)]="newGoal"
            title="Rbt Training"
            (save)="list.onAdd($event); onSave()"
            (cancel)="list.onClose()"
          >
          </app-plan-form>
        </app-list-and-form>
        <!-- Save -->
        <div *ngIf="state === 'list'" class="doctor-submit text-end mt-4">
          <button class="btn btn-primary btn-sm" (click)="onSave()">
            Save
          </button>
        </div>
        <!-- Back -->
        <div *ngIf="state !== 'list'" class="doctor-submit text-end">
          <button class="btn btn-primary btn-sm" (click)="onBack()">
            Back
          </button>
        </div>
        <!-- Edit -->
        <div *ngIf="state === 'edit'">
          <app-monitoring-evaluating-edit
            [(input)]="newGoal"
            title="Rbt Training"
            (cancel)="onBack()"
            (save)="onUpdate($event)"
          >
          </app-monitoring-evaluating-edit>
        </div>
      </div>
    </div>
  </div>
</div>
