<div class="row">
  <div class="col-12">
    <div class="personal-list-out">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="detail-personal">
                <h2>Name</h2>
                <p>
                  {{ patient.first_name }}
                  {{ patient.last_name }}
                </p>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="detail-personal">
                <h2>Patient Id</h2>
                <p>{{ patient.patient_identifier }}</p>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="detail-personal">
                <h2>Birth Day</h2>
                <p>
                  {{ patient.birth_date | date : "shortDate" }}
                </p>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="detail-personal">
                <h2>Age</h2>
                <p>{{ patient.age }}</p>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-xl-3">
              <div class="detail-personal">
                <h2>Phone</h2>
                <p>{{ patient.phone }}</p>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-xl-6">
              <div class="detail-personal">
                <h2>Address</h2>
                <p>{{ patient.address }}</p>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 col-xl-3">
              <div class="detail-personal">
                <h2>Type of Assessment</h2>
                <p>
                  <span *ngIf="bip.type_of_assessment === 1"> Assestment </span>
                  <span *ngIf="bip.type_of_assessment === 2">
                    Reassestment
                  </span>
                  <span *ngIf="bip.type_of_assessment === 3"> Initial </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
