<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <div class="col-xs-12">
        <p>
          As Client makes progress on the goals identified in this plan,
          specific strategies will be used to promote generalization across
          people and settings to improve the durability of the behavioral
          outcomes. To enhance generalization, lead analyst/Behavior assistant
          will collaborate with caregivers as well as the primary care
          physician, if requested.<br /><br />
          Specific strategies to facilitate generalization will include
          (training loosely or diversely, engaging support providers, using
          multiple exemplars, fading cues and prompts, variable reinforcement
          schedules, accessing natural and indiscriminate contingencies, and
          thinning schedules of reinforcement).<br /><br />
          Once caregivers demonstrate proficiency in the implementation of
          procedures, they should start to consistently implement the Behavior
          plan with Analyst’s supervision. Program will be conducted during
          daily living activities.<br /><br />
        </p>
      </div>
      <div class="col-xs-12">
        <!-- list -->
        <app-list-and-form
          *ngIf="state === 'list'"
          #list
          title="Generalization Training"
          [(newItem)]="newItem"
          [(dataSource)]="input"
          [displayedColumns]="displayedColumns"
          [renders]="renders"
          [options]="options"
        >
          <app-generalization-training-form
            [(input)]="newItem"
            (cancel)="list.onClose()"
            (save)="list.onAdd($event)"
          ></app-generalization-training-form>
        </app-list-and-form>
        <!-- Back -->
        <div *ngIf="state !== 'list'" class="doctor-submit text-end">
          <button class="btn btn-primary btn-sm" (click)="onBack()">
            Back
          </button>
        </div>
        <!-- Edit -->
        <div *ngIf="state === 'edit'">
          <app-generalization-training-edit
            title="Generalization Training"
            [(input)]="newItem"
            (cancel)="onBack()"
            (save)="onSave()"
          >
          </app-generalization-training-edit>
        </div>
      </div>
    </div>
  </div>
</div>
