<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <ng-container *ngIf="fromParam?.toLowerCase() === 'log'; else defaultBreadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/reports/logs']">Log Report</a></li>
              <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
              <li class="breadcrumb-item active">View Note</li>
            </ng-container>
            <ng-template #defaultBreadcrumb>
              <li class="breadcrumb-item"><a [routerLink]="[routes.noteBcba.list, patient_identifier]">BCBA Notes</a>
              </li>
              <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
              <li class="breadcrumb-item active">View Note</li>
            </ng-template>
          </ul>
          <div class="doctor-submit text-start">
            <button class="btn btn-primary btn-sm" (click)="goBack()">
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row" id="contentToConvert" #contentToConvert>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="about-info mb-10">
                  <h4>Client Note BCBA</h4>
                </div>
                <div class="doctor-profile-head" style="background-color: white">
                  <div class="row">
                    <div class="col-lg-8">
                      <div class="profile-user-box align-items-left " style="padding-top: 10px">

                      </div>
                    </div>

                    <div class="col-sm-4 d-flex align-items-center d-print-none">
                      <div class="follow-btn-group">
                        <a [routerLink]="[routes.noteBcba.edit, note_id]" [queryParams]="{ from: fromParam }" *ngIf="
                            note_selected?.status === 'pending' ||
                            note_selected?.status === 'no'
                          " class="btn btn-info follow-btns">Edit</a>
                        <!-- <button
                          class="btn btn-info follow-btns"
                          (click)="print()"
                        >
                          Save PDF
                        </button> -->
                        <app-pdf-button [noteType]="'bcba'" [noteId]="note_id"></app-pdf-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="doctor-personals-grp">
              <div class="card">
                <div class="card-body">
                  <ng-container>
                    <div class="personal-list-out">
                      <div class="row">

                        <div class="col-xl-3 col-md-6">
                          <div class="detail-personal">
                            <h2>Full Name</h2>
                            <p>
                              {{ patient_selected?.first_name }}
                              {{ patient_selected?.last_name }}
                            </p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                          <div class="detail-personal">
                            <h2>Patient Id</h2>
                            <p>{{ note_selected?.patient_identifier }}</p>
                          </div>
                        </div>

                        <div class="col-xl-3 col-md-6">
                          <div class="detail-personal">
                            <h2>Diagnosis code</h2>
                            <p>{{ patient_selected?.diagnosis_code }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Insurance Id</h2>
                            <p>{{ patient_selected?.insurance_identifier }}</p>
                          </div>
                        </div>

                        <div class="col-xl-3 col-md-3">
                          <div class="detail-personal">
                            <h2>Rendering Provider</h2>
                            <p>{{ doctor_selected_full_name }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-md-3">
                          <div class="detail-personal">
                            <h2>Supervising BCBA</h2>
                            <p>{{ doctor_selected_full_name_supervisor }}</p>
                          </div>
                        </div>
                        <div class="clear"></div>
                        <div class="col-xl-3 col-xs-6">
                          <div class="detail-personal">
                            <h2>Modifier</h2>
                            <p>{{ note_selected?.md }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-xs-6">
                          <div class="detail-personal">
                            <h2>Modifier 2 (optional)</h2>
                            <p>{{ note_selected?.md2 }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-xs-6">
                          <div class="detail-personal">
                            <h2>Modifier 3 (optional)</h2>
                            <p>{{ note_selected?.md3 }}</p>
                          </div>
                        </div>


                        <div class="clear"></div>
                        <div class="col-xl-3 col-xs-6">
                          <div class="detail-personal">
                            <h2>DOS</h2>
                            <p>{{ note_selected?.session_date | date : "shortDate" }}</p>
                          </div>
                        </div>
                        <!-- POS -->
                        <div class="col-xl-3 col-md-3">
                          <div class="detail-personal">
                            <h2>POS</h2>
                            <p>{{ note_selected?.meet_with_client_at }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-xs-6 ">
                          <div class="detail-personal">
                            <h2>Session Length Total</h2>
                            <p>{{note_selected?.total_hours}}</p>
                          </div>
                        </div>
                        <h5 class="mb-3">Morning Session</h5>
                        <div class="col-xl-3 col-md-6 col-xl-4">
                          <div class="detail-personal">
                            <h2>Time In</h2>
                            <p>{{ note_selected?.time_in | transformToDate }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-xl-4">
                          <div class="detail-personal">
                            <h2>Time Out</h2>
                            <p>
                              {{ note_selected?.time_out | transformToDate }}
                            </p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-xl-4">
                          <div class="detail-personal">
                            <h2>Total First Session</h2>
                            <p>{{ note_selected?.session_length_morning_total }}</p>
                          </div>
                        </div>
                        <div class="clear"></div>
                        <h5 class="mb-3">Afternoon Session</h5>
                        <div class="col-xl-3 col-md-6 col-xl-4">
                          <div class="detail-personal">
                            <h2>Time In</h2>
                            <p>
                              {{ note_selected?.time_in2 | transformToDate }}
                            </p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-xl-4">
                          <div class="detail-personal">
                            <h2>Time Out</h2>
                            <p>
                              {{ note_selected?.time_out2 | transformToDate }}
                            </p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-xl-4">
                          <div class="detail-personal">
                            <h2>Total Second Session</h2>
                            <p>{{ note_selected?.session_length_afternon_total }}</p>
                          </div>
                        </div>
                        <div class="clear"></div>
                        <!-- CPT -->
                        <div class="col-xl-3 col-md-3">
                          <div class="detail-personal">
                            <h2>CPT </h2>
                            <p>{{ note_selected?.cpt_code }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-md-3" *ngIf=" show97151 || show971511 || show971512 ">
                          <div class="detail-personal">
                            <h2>Type </h2>
                            <p>{{ note_selected?.type }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Environmental Changes</h2>
                            <p>{{ note_selected?.environmental_changes }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Present this Session</h2>
                            <p>{{note_selected?.participants}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <!-- all -->
              <div class="row" *ngIf="!show97155 && !show97156 && !show971511 && !show971512">
                <div class="col-xs-12 col-sm-6">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Caregiver Goal</h4>
                    </div>
                    <div class="card-body p-0">
                      <div class="personal-list-out">
                        <div class="container">
                          <div class="row">
                            <table class="table mb-0">
                              <thead>
                                <tr>
                                  <th>
                                    <h2 style="font-size: 12px; font-weight: 500">
                                      Caregiver Goal
                                    </h2>
                                  </th>
                                  <th>
                                    <h2 style="font-size: 12px; font-weight: 500">
                                      % of Occurrences
                                    </h2>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="
                                    let behavior of caregivers_training_goals;
                                    let i = index
                                  ">
                                  <td>
                                    <p>{{ behavior.caregiver_goal }}</p>
                                  </td>
                                  <td>
                                    <p>
                                      {{ behavior.porcent_of_correct_response }}
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">RBT Training goals</h4>
                    </div>
                    <div class="card-body p-0">
                      <div class="personal-list-out">
                        <div class="container">
                          <div class="row">
                            <table class="table mb-0">
                              <thead>
                                <tr>
                                  <th>
                                    <h2 style="font-size: 12px; font-weight: 500">
                                      Caregiver Goal
                                    </h2>
                                  </th>
                                  <th>
                                    <h2 style="font-size: 12px; font-weight: 500">
                                      % of correct responses
                                    </h2>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="
                                    let replacemen of rbt_training_goals;
                                    let i = index
                                  ">
                                  <td>
                                    <p>{{ replacemen.lto }}</p>
                                  </td>
                                  <td>
                                    <p>
                                      {{
                                      replacemen.porcent_of_correct_response
                                      }}
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- all -->

              <!-- show97151 -->
              <div class="col-xs-12" *ngIf="show971511">
                <div class="col-xs-12">
                  <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body p-0">
                      <div class="personal-list-out">
                        <div class="container">
                          <div class="row">
                            <div class="col-xs-12 col-sm-4">
                              <div class="d-flex justify-content-between align-items-center">
                                <span>BCBA conducted client observations</span>
                                <div class="d-flex justify-content-between align-items-center">
                                  <i *ngIf="note_selected?.BCBA_conducted_client_observations" class="fa fa-check"></i>
                                  <i *ngIf="!note_selected?.BCBA_conducted_client_observations" class="fa fa-times"></i>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                              <div class="d-flex justify-content-between align-items-center">
                                <span>BCBA conducted assessments</span>
                                <div class="d-flex justify-content-between align-items-center">
                                  <i *ngIf="note_selected?.BCBA_conducted_assessments" class="fa fa-check"></i>
                                  <i *ngIf="!note_selected?.BCBA_conducted_assessments" class="fa fa-times"></i>
                                </div>
                              </div>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- newlist -->
                  <div class="card">
                    <app-newlist-view [newlist_added]="newlist_added"></app-newlist-view>
                  </div>
                  <!-- newlist -->
                  <!-- outcomeList -->
                  <div class="card">
                    <app-intakeoutcome-view [intake_outcome]="intake_outcome"></app-intakeoutcome-view>
                  </div>
                  <!-- outcomeList -->
                </div>
              </div>
              <!-- show971512 -->
              <div class="col-xs-12" *ngIf="show971512">
                <div class="col-xs-12">
                  <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body p-0">
                      <div class="personal-list-out">
                        <div class="container">
                          <div class="row">
                            <div class="col-xs-12 col-sm-4">
                              <div class="d-flex justify-content-between align-items-center">
                                <span>BCBA conducted client observations</span>
                                <div class="d-flex justify-content-between align-items-center">
                                  <i *ngIf="note_selected?.BCBA_conducted_client_observations" class="fa fa-check"></i>
                                  <i *ngIf="!note_selected?.BCBA_conducted_client_observations" class="fa fa-times"></i>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                              <div class="d-flex justify-content-between align-items-center">
                                <span>BCBA conducted assessments</span>
                                <div class="d-flex justify-content-between align-items-center">
                                  <i *ngIf="note_selected?.BCBA_conducted_assessments" class="fa fa-check"></i>
                                  <i *ngIf="!note_selected?.BCBA_conducted_assessments" class="fa fa-times"></i>
                                </div>
                              </div>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>

              <!-- show97156 -->
                <!-- show97155 -->
                <div class="col-xs-12" *ngIf="show97155">
                  <div class="card">
                    <app-intervention-view [interventions]="interventions"></app-intervention-view>
                  </div>
                  <!-- replacement protocols -->
                  <div class="card">
                    <app-replacements-view [replacements]="replacements"></app-replacements-view>
                </div>
                <!-- replacement protocols -->
                  
                  <div class="card">
                    <div class="card-header">
                      <!-- <h4 class="card-title">Modifications needed at this time</h4> -->
                    </div>
                    <!-- body card -->
                    <div class="card-body p-0">
                      <div class="personal-list-out">
                        <div class="container">
                          <div class="col-xs-12">
                            <div class="row">
                              <div class="col-xs-12 col-sm-3">
                                <div class="d-flex justify-content-between align-items-center">
                                  <span>Modifications needed at this time</span>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <i *ngIf="note_selected?.modifications_needed_at_this_time" class="fa fa-check"></i>
                                    <i *ngIf="!note_selected?.modifications_needed_at_this_time"
                                      class="fa fa-times"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Additional Goals or Interventions -->
                  <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body p-0">
                      <div class="personal-list-out">
                        <div class="container">
                          <div class="col-xs-12">
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="detail-personal">
                                  <h2>Additional Goals or Interventions</h2>
                                  <p>{{note_selected.additional_goals_or_interventions}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Additional Goals or Interventions -->
                </div>
                <!-- show97156 -->
                <div class="col-xs-12 " *ngIf="show97156">
                  <div class="card">
                    <app-intervention2-view [interventions2]="interventions2"></app-intervention2-view>
                  </div>
                  <!-- replacement protocols -->
                  <div class="card">
                    <app-replacements2-view [replacements2]="replacements2"></app-replacements2-view>
                  </div>
                  <!-- replacement protocols -->
                  <!-- behaviors -->
                  <div class="card">
                    <app-behaviorslist-view [behaviorsview]="behaviorsview"></app-behaviorslist-view>
                  </div>
                  <!-- behaviors -->

                  <!-- info -->
                  <div class="col-xs-12">
                    <div class="card">
                      <div class="card-header">
                        <!-- <h4 class="card-title">Caregiver Goal</h4> -->
                      </div>
                      <div class="card-body p-0">
                        <div class="personal-list-out">
                          <div class="container">
                            <div class="row">
                              <div class="col-xs-12 col-sm-3">
                                <div class="d-flex justify-content-between align-items-center">
                                  <span>Cargiver Participation</span>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <i *ngIf="note_selected?.cargiver_participation" class="fa fa-check"></i>
                                    <i *ngIf="!note_selected?.cargiver_participation" class="fa fa-times"></i>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-3">
                                <div class="d-flex justify-content-between align-items-center">
                                  <span>Was the client present</span>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <i *ngIf="note_selected?.was_the_client_present" class="fa fa-check"></i>
                                    <i *ngIf="!note_selected?.was_the_client_present" class="fa fa-times"></i>
                                  </div>
                                </div>
                              </div>
                              <div class="clear"></div><br>
                              <div class="col-xs-12 col-sm-6 ">
                                <div class="detail-personal">
                                  <h2>Asked and clarified questions about the implementation of</h2>
                                  <p>{{note_selected.asked_and_clarified_questions_about_the_implementation_of}}</p>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6 ">
                                <div class="detail-personal">
                                  <h2>Reinforced caregiver strengths in</h2>
                                  <p>{{note_selected.reinforced_caregiver_strengths_in}}</p>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6 ">
                                <div class="detail-personal">
                                  <h2>Gave constructive feedback on</h2>
                                  <p>{{note_selected.gave_constructive_feedback_on}}</p>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6 ">
                                <div class="detail-personal">
                                  <h2>Recomended more practice on</h2>
                                  <p>{{note_selected.recomended_more_practice_on}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- info -->
                  
                </div>
              
              <!-- all -->



              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Summary Note</h4>
                </div>
                <div class="card-body p-0">
                  <div class="personal-list-out">
                    <div class="container">
                      <div class="col-xl-12">
                        <div class="detail-personal">
                          <h2>Summary Note</h2>
                          <p>{{ note_selected?.summary_note }}</p>
                        </div>
                      </div>
                      <div class="row mt-5">
                        <div class="col-xs-12 d-flex align-items-center justify-content-center">
                          <div class="col-xl-4 col-md-6">
                            <div class="detail-personal">
                              <h2>Provider Signature</h2>
                              <img src="{{
                                  IMAGE_PREVISUALIZA_SIGNATURE__BCBA_CREATED
                                }}" style="
                                  width: 100%;
                                  height: fit-content;
                                  max-height: 100px;
                                " />
                            </div>
                            <div class="detail-personal">
                              <h2 style="margin: 0">Provider name BCBA</h2>
                              <p style="margin-bottom: 15px">
                                {{ doctor_selected_full_name }}
                              </p>
                              <h2 style="margin: 0">Signature Date</h2>
                              <p>{{ note_selected?.session_date | date : "shortDate" }}</p>
                            </div>
                          </div>
                          <div class="col-xl-4 col-md-6">
                            <div class="detail-personal">
                              <h2>Supervisor Signature</h2>
                              <img src="{{
                                  IMAGE_PREVISUALIZA_SIGNATURE_SUPERVISOR_CREATED
                                }}" style="
                                  width: 100%;
                                  height: fit-content;
                                  max-height: 100px;
                                " />
                            </div>
                            <div class="detail-personal">
                              <h2 style="margin: 0">Supervisor name BCBA</h2>
                              <p style="margin-bottom: 15px">
                                {{ doctor_selected_full_name_supervisor }}
                              </p>
                              <h2 style="margin: 0">Signature Date</h2>
                              <p>{{ note_selected?.session_date | date : "shortDate" }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>