<div class="page-wrapper" >
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <div class=" doctor-submit text-start">
                        <button class="btn btn-primary btn-sm " (click)="goBack() ">Back</button>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row" id="contentToConvert" #contentToConvert>
            <div class="col-sm-12" *ngIf="patient_selected">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="about-info mb-10">
                                    <h4>Client Note BCBA </h4>
                                </div>
                                <div class="doctor-profile-head">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="profile-user-box" style="padding-top: 10px;">
                                                
                                                <div class="names-profiles">
                                                    <h5>Client</h5>
                                                    <p>{{patient_selected.first_name}}</p>
                                                    <h5>Provider Name</h5>
                                                    <p>{{doctor_selected_full_name}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                            <div class="follow-group">
                                                <div class="doctor-follows">
                                                    <h5>Patient ID</h5>
                                                    <p>{{patient_selected.patient_id}}</p>
                                                </div>
                                                <div class="doctor-follows">
                                                    <h5>diagnosis_code</h5>
                                                    <p>{{patient_selected.diagnosis_code}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                            <div class="follow-btn-group">
                                                <a [routerLink]="['/note-bcba/edit/', note_id]" *ngIf="note_selected.status === 'pending' || note_selected.status === 'no'  "   class="btn btn-info follow-btns">Edit</a>
                                                <button class="btn btn-info follow-btns" (click)="convertToPdf()">Save PDF</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>								
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-lg-12">
                        <div class="doctor-personals-grp">
                            <div class="card">
                                <div class="card-body">
                                    
                                    <ng-container *ngIf="option_selected == 1">
                                        <div class="personal-list-out">
                                            <div class="row">
                                                <div class="col-xl-3 col-md-6">
                                                   
                                                    <div class="detail-personal">
                                                        <h2>Patient Id</h2>
                                                        <p>{{patient_selected.patient_id }} </p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6">
                                                   
                                                    <div class="detail-personal">
                                                        <h2>PO </h2>
                                                        <p>{{patient_selected.pos_covered}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6">
                                                   
                                                    <div class="detail-personal">
                                                        <h2>Full Name</h2>
                                                        <p>{{patient_selected.first_name }} {{patient_selected.last_name }}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6">
                                                    <div class="detail-personal">
                                                        <h2>Diagnosis code</h2>
                                                        <p>{{patient_selected.diagnosis_code}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-3">
                                                    <div class="detail-personal">
                                                        <h2>Rendering Provider</h2>
                                                        <p>{{doctor_selected_full_name}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-3">
                                                    <div class="detail-personal">
                                                        <h2>Supervising BCBA</h2>
                                                        <p>{{doctor_selected_full_name_bcba}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-3">
                                                    <div class="detail-personal">
                                                        <h2>CPT Code</h2>
                                                        <p>{{note_selected.cpt_code}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-3">
                                                    <div class="detail-personal">
                                                        <h2>Meet with client at</h2>
                                                        <p>{{note_selected.meet_with_client_at}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-xs-6 ">
                                                    <div class="detail-personal">
                                                        <h2>Modifier</h2>
                                                        <p>{{note_selected.mdbcba}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-xs-6 ">
                                                    <div class="detail-personal">
                                                        <h2>Modifier 2 (optional)</h2>
                                                        <p>{{note_selected.md2bcba}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-xs-6">
                                                    <div class="detail-personal">
                                                        <h2>Date Session</h2>
                                                        <p>{{note_selected.session_date|date}}</p>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-xl-3 col-xs-6 col-xl-4">
                                                    <div class="detail-personal">
                                                        <h2>Create At</h2>
                                                        <h3>{{note_selected.created_at|date}}</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    <div class="detail-personal">
                                                        <h2>Updated At</h2>
                                                        <h3>{{note_selected.updated_at|date}}</h3>
                                                    </div>
                                                </div> -->
                                                <h5 class="mb-3">Morning Session</h5>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    
                                                    <div class="detail-personal">
                                                        <h2>Time In</h2>
                                                        <p>{{note_selected.time_in | transformToDate }}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    <div class="detail-personal">
                                                        <h2>Time Out</h2>
                                                        <p>{{note_selected.time_out | transformToDate }}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    
                                                    <div class="detail-personal">
                                                        <h2>Total Morning Session</h2>
                                                        <p>{{note_selected.session_length_total  }}</p>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <h5 class="mb-3">Afternoon Session</h5>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    <div class="detail-personal">
                                                        <h2>Time In </h2>
                                                        <p>{{note_selected.time_in2 | transformToDate }}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    <div class="detail-personal">
                                                        <h2>Time Out </h2>
                                                        <p>{{note_selected.time_out2 | transformToDate }}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-md-6 col-xl-4">
                                                    <div class="detail-personal">
                                                        <h2>Total First Afternoon</h2>
                                                        <p>{{note_selected.session_length_total2  }}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="detail-personal">
                                                        <h2>Note Description</h2>
                                                        <p>{{note_selected.note_description}}</p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                    </ng-container>
                                    
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="card ">
                                        <div class="card-header">
                                            <h4 class="card-title ">Caregiver Goal </h4>
                                        </div>
                                        <div class="card-body p-0 ">
                                            <div class="personal-list-out">
                                                <div class="container">
                                                    <div class="row">
                                                        
                                                        <table class="table mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th><h2 style="font-size: 12px;font-weight: 500;">Caregiver Goal</h2></th>
                                                                    <th><h2 style="font-size: 12px;font-weight: 500;">% of Occurrences</h2></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let behavior of caregivers_training_goals; let i = index">
                                                                    <td>
                                                                        <p>{{behavior.caregiver_goal}}</p>
                                                                    </td>
                                                                    <td>
                                                                        <p>{{behavior.porcent_of_correct_response}}</p>
                                                                    </td>
                                                                </tr>
                                                                
                                                            </tbody>
                                                        </table>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="card ">
                                        <div class="card-header">
                                            <h4 class="card-title ">RBT Training goals</h4>
                                        </div>
                                        <div class="card-body p-0 ">
                                            <div class="personal-list-out">
                                                <div class="container">
                                                    <div class="row">
                                                        
                                                        <table class="table mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th><h2 style="font-size: 12px;font-weight: 500;">Caregiver Goal</h2></th>
                                                                    <th><h2 style="font-size: 12px;font-weight: 500;">% of correct responses</h2></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let replacemen of rbt_training_goals; let i = index">
                                                                    <td >
                                                                        <p>{{replacemen.lto}}</p>
                                                                    </td>
                                                                    <td >
                                                                       <p> {{replacemen.porcent_of_correct_response}}</p>
                                                                    </td>
                                                                    
                                                                </tr>
                                                                
                                                            </tbody>
                                                        </table>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-header">
                                    <h4 class="card-title ">Summary Note</h4>
                                </div>
                                <div class="card-body p-0 ">
                                    <div class="personal-list-out">
                                        <div class="container">
                                            <div class="col-xl-12">
                                                
                                                <div class="detail-personal">
                                                    <h2>Summary Note</h2>
                                                    <p>{{note_selected.summary_note}}</p>
                                                </div>
                                            </div>
                                            <div class="row mt-5">
                                                <div class="col-xs-12 d-flex align-items-center justify-content-center">
                                                    <div class="col-xl-4 col-md-6">
                                                        <div class="detail-personal">
                                                            <h2>Provider Signature</h2>
                                                            <img  src="{{IMAGE_PREVISUALIZA_SIGNATURE__BCBA_CREATED}}" style="width: 100%; height:fit-content; max-height: 100px;"  >
                                                        </div>
                                                        <div class="detail-personal">
                                                            <h2 style="margin: 0;">Provider name BCBA</h2>
                                                            <p style="margin-bottom: 15px;">{{doctor_selected_full_name}}</p>
                                                            <h2 style="margin: 0;">Date Session</h2>
                                                            <p>{{note_selected.session_date|date}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-md-6">
                                                        <div class="detail-personal">
                                                            <h2>Supervisor Signature</h2>
                                                            <img  src="{{IMAGE_PREVISUALIZA_SIGNATURE_SUPERVISOR_CREATED}}" style="width: 100%; height:fit-content; max-height: 100px;"  >
                                                        </div>
                                                        <div class="detail-personal">
                                                            <h2 style="margin: 0;">Supervisor name </h2>
                                                            <p style="margin-bottom: 15px;">{{doctor_selected_full_name_supervisor}}</p>
                                                            <h2 style="margin: 0;">Date Session</h2>
                                                            <p>{{note_selected.session_date|date}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 