.detail-personal{
    padding-bottom: 0 !important;
}
.detail-personal h2{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
// .detail-personal p{
//     padding-bottom: 0 !important;
//     margin-bottom: 0 !important;
// }