<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="[routes.noteRbt.list, patient_identifier]"
                >RBT Notes
              </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Add Note</li>
          </ul>

          <div class="doctor-submit text-start">
            <button class="btn btn-primary btn-sm" (click)="goBack()">
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <!-- paciente -->
      <div class="col-sm-12">
        <form autocomplete="off">
          <!-- info paciente -->
          <div class="col-xs-12">
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-12 py-4">
                    <h4>Create Note rbt</h4>
                  </div>

                  <!-- First Name -->
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label
                        >First Name <span class="login-danger">*</span></label
                      >
                      <input
                        class="form-control"
                        name="first_name"
                        disabled
                        [(ngModel)]="first_name"
                        type="text"
                      />
                    </div>
                  </div>
                  <!-- Last Name -->
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label
                        >Last Name <span class="login-danger">*</span></label
                      >
                      <input
                        class="form-control"
                        name="last_name"
                        disabled
                        [(ngModel)]="last_name"
                        type="text"
                      />
                    </div>
                  </div>
                  <!-- Patient ID  -->
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label
                        >Patient ID <span class="login-danger">*</span></label
                      >
                      <input
                        class="form-control"
                        name="patient_identifier"
                        disabled
                        [(ngModel)]="patient_identifier"
                        type="text"
                      />
                    </div>
                  </div>
                  <!-- Diagnosis Code -->
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label
                        >Diagnosis Code
                        <span class="login-danger">*</span></label
                      >
                      <input
                        class="form-control"
                        name="diagnosis_code"
                        disabled
                        [(ngModel)]="diagnosis_code"
                        type="text"
                      />
                    </div>
                  </div>
                  <!-- Insurance ID -->
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label
                        >Insurance ID <span class="login-danger">*</span></label
                      >
                      <input
                        class="form-control"
                        name="insurance_identifier"
                        disabled
                        [(ngModel)]="insurance_identifier"
                        type="text"
                      />
                    </div>
                  </div>

                  <!-- Provider Name  -->
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label
                        >Provider Name
                        <span class="login-danger">*</span></label
                      >
                      <p style="padding: 10px">{{ doctor?.full_name }}</p>
                    </div>
                  </div>
                  <!-- Provider Credential -->
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label
                        >Provider Credential
                        <span class="login-danger">*</span></label
                      >
                      <input
                        class="form-control"
                        disabled
                        name="provider_credential"
                        [(ngModel)]="provider_credential"
                        type="text"
                      />
                    </div>
                  </div>

                  <!-- DOS -->
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>DOS <span class="login-danger">*</span></label>
                      <input
                        class="form-control datetimepicker"
                        autocomplete="false"
                        name="session_date"
                        [(ngModel)]="session_date"
                        (dateChange)="onDateChange($event)"
                        type="text"
                        matInput
                        [matDatepicker]="pickerSesDate"
                      />
                      <mat-datepicker #pickerSesDate></mat-datepicker>
                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="pickerSesDate"
                      ></mat-datepicker-toggle>
                    </div>
                  </div>
                  <!-- POS -->
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label>POS <span class="login-danger">*</span></label>

                      <select
                        class="form-control form-select-solid fw-bolder"
                        name="meet_with_client_at"
                        [(ngModel)]="meet_with_client_at"
                      >
                        <option>-- Select --</option>
                        <option value="03">03 School</option>
                        <option value="12">12 Home</option>
                        <option value="02">02 Telehealth</option>
                        <option value="99">99 Other</option>
                      </select>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <!-- time -->
                  <div class="row">
                    <!-- time -->
                    <div class="col-xs-12 col-sm-6">
                      <h5 class="mb-3">Morning Session</h5>
                      <div class="row">
                        <div class="col-xs-12 col-sm-6">
                          <div class="form-group local-forms">
                            <label
                              >Time In
                              <span class="login-danger">*</span></label
                            >
                            <!-- max="12:00" -->
                            <input
                              [ngxTimepicker]="toggleTimepicker"
                              readonly
                              [format]="24"
                              class="form-control"
                              [value]="selectedValueTimeIn"
                              [(ngModel)]="selectedValueTimeIn"
                              name="time_in"
                            />
                            <ngx-material-timepicker
                              (timeChanged)="hourTimeInSelected($event)"
                              #toggleTimepicker
                            ></ngx-material-timepicker>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                          <div class="form-group local-forms">
                            <label
                              >Time Out
                              <span class="login-danger">*</span></label
                            >
                            <input
                              [ngxTimepicker]="toggleTimepicker2"
                              readonly
                              [value]="selectedValueTimeOut"
                              [(ngModel)]="selectedValueTimeOut"
                              [format]="24"
                              class="form-control"
                              name="time_out"
                            />
                            <ngx-material-timepicker
                              (timeChanged)="hourTimeOutSelected($event)"
                              #toggleTimepicker2
                            ></ngx-material-timepicker>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <h5 class="mb-3">Afternoon Session</h5>
                      <div class="row">
                        <div class="col-xs-12 col-sm-6">
                          <div class="form-group local-forms">
                            <label
                              >Time In
                              <span class="login-danger">*</span></label
                            >
                            <input
                              [ngxTimepicker]="toggleTimepicker3"
                              readonly
                              [format]="24"
                              class="form-control"
                              name="time_in2"
                              [value]="selectedValueTimeIn2"
                              [(ngModel)]="selectedValueTimeIn2"
                            />
                            <ngx-material-timepicker
                              (timeChanged)="hourTimeIn2Selected($event)"
                              #toggleTimepicker3
                            ></ngx-material-timepicker>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                          <div class="form-group local-forms">
                            <label
                              >Time Out
                              <span class="login-danger">*</span></label
                            >
                            <input
                              [ngxTimepicker]="toggleTimepicker4"
                              readonly
                              [(ngModel)]="selectedValueTimeOut2"
                              [value]="selectedValueTimeOut2"
                              [format]="24"
                              class="form-control"
                              name="time_out2"
                            />
                            <ngx-material-timepicker
                              (timeChanged)="hourTimeOut2Selected($event)"
                              #toggleTimepicker4
                            ></ngx-material-timepicker>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group local-forms">
                        <label
                          >Session Length Total<span class="login-danger"
                            >*</span
                          ></label
                        >
                        <p class="text-center p-3">
                          {{ total_hour_session }}
                        </p>
                      </div>
                    </div>
                    <!-- time -->
                  </div>
                  <!--  units -->
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label
                        >CPT Code <span class="login-danger">*</span></label
                      >
                      <mat-select
                        [(ngModel)]="selectedPaService"
                        name="pa_service"
                        disabled
                        (selectionChange)="onPaServiceSelect($event)"
                        class="form-control select"
                        placeholder="Select Service"
                      >
                        <mat-option
                          *ngFor="let service of pa_services | rbtFilter"
                          [value]="service"
                        >
                          ({{ service.cpt }})
                        </mat-option>
                      </mat-select>
                    </div>
                  </div>

                  <!-- PA Service Calculator Information -->
                  <div class="col-12 col-md-6 col-xl-4">
                    <app-pa-service-calculator
                      [selectedPaService]="selectedPaService"
                      [projectedUnits]="projectedUnits"
                    >
                    </app-pa-service-calculator>
                  </div>

                  <div class="col-12 col-md-6 col-xl-4">
                    <app-units-display
                      [service]="selectedPaService"
                      [newUnits]="projectedUnits"
                    >
                    </app-units-display>
                  </div>
                  <!--  fin units -->

                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label
                        >Environmental Changes
                        <span class="login-danger">*</span></label
                      >
                      <input
                        class="form-control"
                        name="environmental_changes"
                        [(ngModel)]="environmental_changes"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-4">
                    <div class="form-group local-forms">
                      <label
                        >Present this session
                        <span class="login-danger">*</span></label
                      >
                      <input
                        class="form-control"
                        name="participants"
                        [(ngModel)]="participants"
                        type="text"
                      />
                    </div>
                  </div>
                  <!-- paciente -->
                </div>
              </div>
            </div>
          </div>

          <!-- fin infopaciente -->
          <!-- Cards Maladaptives -->
          <div class="col-xs-12">
            <div class="card">
              <div class="card-body">
                <app-maladaptives-options
                  [(maladaptives)]="maladaptives"
                  (maladaptivesChange)="onMaladaptivesChange($event)"
                >
                </app-maladaptives-options>
              </div>
            </div>
          </div>
          <!-- Cards Maladaptives -->

          <!-- Cards Replacements -->
          <div class="col-xs-12">
            <div class="card">
              <div class="card-body">
                <app-replacements
                  [(replacements)]="replacementGoals"
                  (replacementsChange)="onReplacementsChange($event)"
                >
                </app-replacements>
              </div>
            </div>
          </div>
          <!-- fin replacements -->
          <!-- interventions -->
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <app-interventions-options
                  [interventionsList]="interventionsList"
                  (interventionsChange)="onInterventionsChange($event)"
                >
                </app-interventions-options>
              </div>
            </div>
          </div>
          <!-- fin interventions -->

          <!-- entrevista -->
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <form autocomplete="false">
                  <!-- paciente -->
                  <div class="row align-items-center py-4">
                    <div class="col-12">
                      <div class="form-group local-forms">
                        <h4>Summary</h4>
                      </div>
                    </div>

                    <div class="col-12 col-md-4">
                      <div class="form-group local-forms">
                        <label
                          >Client appeared
                          <span class="login-danger">*</span></label
                        >
                        <select
                          class="form-control form-select-solid fw-bolder"
                          [(ngModel)]="client_appeared"
                          name="client_appeared"
                          [(ngModel)]="client_appeared"
                        >
                          <option>-- Select --</option>
                          <option value="happy">Happy</option>
                          <option value="sad">Sad</option>
                          <option value="excited">Excited</option>
                          <option value="tired">Tired</option>
                          <option value="agressive">Agressive</option>
                          <option value="distracted">Distracted</option>
                          <option value="calm">Calm</option>
                          <option value="angry">Angry</option>
                          <option value="suprised">Suprised</option>
                          <option value="fearful">Fearful</option>
                          <option value="disgusted">Disgusted</option>
                          <option value="content">Content</option>
                          <option value="nervous">nervous</option>
                          <option value="confused">Confused</option>
                          <option value="relieved">Relieved</option>
                          <option value="frustrated">frustrated</option>
                          <option value="amused">Amused</option>
                          <option value="bored">Bored</option>
                          <option value="proud">proud</option>
                          <option value="insecure">Insecure</option>
                          <option value="anxios">Anxios</option>
                          <option value="curious">Curious</option>
                          <option value="enthusiastic">Enthusiastic</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-12 col-md-4">
                      <div class="form-group local-forms">
                        <label
                          >as evidenced by
                          <span class="login-danger">*</span></label
                        >
                        <input
                          class="form-control"
                          name="as_evidenced_by"
                          [(ngModel)]="as_evidenced_by"
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-12">
                      <p>
                        The replacements and interventions described above are
                        outlined in the behavior plan and were implemented
                        throughout the session
                      </p>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group local-forms">
                        <label
                          >RBT modeled and demonstrated to caregiver<span
                            class="login-danger"
                            >*</span
                          ></label
                        >
                        <!-- <input class="form-control" name="rbt_modeled_and_demonstrated_to_caregiver"   [(ngModel)]="rbt_modeled_and_demonstrated_to_caregiver" type="text"  > -->
                        <textarea
                          class="form-control"
                          name="rbt_modeled_and_demonstrated_to_caregiver"
                          [(ngModel)]="
                            rbt_modeled_and_demonstrated_to_caregiver
                          "
                          rows="4"
                          cols="30"
                        ></textarea>
                      </div>
                    </div>
                    <!-- <div class="col-12 col-md-6">
                      <div class="form-group local-forms">
                        <label
                          >Client response to treatment this session
                          <span class="login-danger">*</span></label
                        >
                        <textarea
                          class="form-control"
                          name="client_response_to_treatment_this_session"
                          [(ngModel)]="
                            client_response_to_treatment_this_session
                          "
                          rows="4"
                          cols="30"
                        ></textarea>
                      </div>
                    </div> -->
                    <div class="col-xs-12 col-sm-6">
                      <p>
                        Responding this session could have been affected by
                        environmental changes above
                      </p>
                      <div class="form-group local-forms">
                        <label
                          >Progress noted this session compared to previous
                          session <span class="login-danger">*</span></label
                        >
                        <!-- <input class="form-control" name="progress_noted_this_session_compared_to_previous_session"   [(ngModel)]="progress_noted_this_session_compared_to_previous_session" type="text"  > -->
                        <select
                          class="form-control form-select-solid fw-bolder"
                          name="progress_noted_this_session_compared_to_previous_session"
                          [(ngModel)]="
                            progress_noted_this_session_compared_to_previous_session
                          "
                        >
                          <option>-- Select --</option>
                          <option value="excelent">Excelent</option>
                          <option value="moderate">Moderate</option>
                          <option value="good">Good</option>
                          <option value="minimal">Minimal</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                      <p>
                        Data was collected within the session (see table above).
                      </p>
                      <div class="col-12">
                        <div class="form-group local-forms">
                          <label
                            >Next session is scheduled for
                            <span class="login-danger">*</span></label
                          >
                          <input
                            class="form-control datetimepicker"
                            autocomplete="false"
                            name="next_session_is_scheduled_for"
                            [(ngModel)]="next_session_is_scheduled_for"
                            type="text"
                            matInput
                            [matDatepicker]="pickerNextSess"
                          />
                          <mat-datepicker #pickerNextSess></mat-datepicker>
                          <mat-datepicker-toggle
                            matIconSuffix
                            [for]="pickerNextSess"
                          ></mat-datepicker-toggle>
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="row">
                        <div class="col-12 col-md-10">
                          <div class="form-group local-forms">
                            <label>Note's Summary <span class="login-danger">*</span></label>
                            <textarea class="form-control" name="summary_note" [(ngModel)]="summary_note" rows="4" cols="30"></textarea>
                          </div>
                        </div>
                        <div class="col-12 col-md-2 d-flex align-items-center">
                          <app-generate-ai-summary
                            [type]="'rbt'"
                            [summaryData]="getAISummaryData()"
                            (summaryGenerated)="summary_note = $event">
                          </app-generate-ai-summary>
                        </div>
                      </div>
                    </div>

                    <!-- firma -->
                    <div class="col-12">
                      <p>
                        the RBT will continue working with the goals as stated
                        in behavior plan.
                      </p>
                    </div>
                    <div class="col-12 col-md-6 col-xl-6">
                      <div class="form-group local-forms">
                        <label
                          >Provider name RBT
                          <span class="login-danger">*</span></label
                        >
                        <p style="padding: 10px">{{ doctor?.full_name }}</p>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-6">
                      <div class="form-group local-top-form">
                        <label class="local-top"
                          >Provider Signature
                          <span class="login-danger">*</span></label
                        >
                      </div>

                      <!-- previsualizacion de la foto -->
                      <div *ngIf="FILE_SIGNATURE_RBT">
                        <img
                          [src]="electronic_signature"
                          style="width: 250px"
                          alt=""
                        />
                      </div>
                      <div *ngIf="IMAGE_PREVISUALIZA_SIGNATURE__RBT_CREATED">
                        <img
                          [src]="electronic_signature"
                          style="width: 250px"
                          alt=""
                        />
                      </div>
                      <!-- previsualizacion de la foto -->
                    </div>

                    <div class="col-12 col-md-6 col-xl-6">
                      <div class="form-group local-forms">
                        <div class="form-group local-forms">
                          <label style="width: 110%"
                            >Supervisor name BCBA
                            <span class="login-danger">*</span></label
                          >
                          <mat-select
                            [(ngModel)]="selectedValueBcba_id"
                            name="bcba"
                            [ngModelOptions]="{ standalone: true }"
                            class="form-control select"
                            placeholder="Select Specialist"
                            (selectionChange)="
                              selectFirmaSpecialistBcba($event)
                            "
                            value="select"
                          >
                            <mat-option [value]="null">--Select-</mat-option>
                            <mat-option
                              *ngFor="let data of roles_bcba"
                              [value]="data.id"
                            >
                              {{ data.name }} {{ data.surname }}
                            </mat-option>
                          </mat-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-6">
                      <div class="form-group local-top-form">
                        <label class="local-top"
                          >Supervisor Signature
                          <span class="login-danger">*</span></label
                        >
                      </div>

                      <!-- previsualizacion de la foto -->
                      <div *ngIf="FILE_SIGNATURE_BCBA">
                        <img
                          [src]="IMAGE_PREVISUALIZA_SIGNATURE_BCBA"
                          style="width: 250px"
                          alt=""
                        />
                      </div>
                      <div *ngIf="IMAGE_PREVISUALIZA_SIGNATURE_BCBA_CREATED">
                        <img
                          [src]="IMAGE_PREVISUALIZA_SIGNATURE_BCBA_CREATED"
                          style="width: 250px"
                          alt=""
                        />
                      </div>
                      <!-- previsualizacion de la foto -->
                    </div>

                    <!-- firma -->
                  </div>

                  <div class="form-group row" *ngIf="text_validation">
                    <div class="col-md-12">
                      <div
                        class="alert alert-danger alert-dismissible fade show"
                        role="alert"
                      >
                        <strong>!</strong> {{ text_validation }}.
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="alert"
                          aria-label="Close"
                        >
                          <span aria-hidden="true"> </span>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="doctor-submit text-end">
                      <button
                        type="button"
                        class="btn btn-primary submit-form me-2"
                        (click)="onSave()"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- fin entrevista -->
        </form>
      </div>
    </div>
  </div>
</div>
