<div class="card">
  <div class="card-body">
    <h3 class="card-title">Fading Plan</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="riskAssessment">Description</label>
          <textarea
            class="form-control"
            id="riskAssessment"
            rows="10"
            cols="30"
            [(ngModel)]="input"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3 text-end">
      <button
        *ngIf="showCancel"
        (click)="onCancel()"
        class="btn btn-outline-danger btn-sm"
      >
        Cancel
      </button>
      <button
        *ngIf="showSave"
        (click)="onSave()"
        class="btn btn-primary btn-sm"
      >
        Save
      </button>
    </div>
  </div>
</div>
