<div class="card">
  <div class="card-body">
    <div class="col-xs-12">
      <h3 class="card-title">Skill Acquisition/Replacement Goals</h3>
      <!-- description -->
      <p>
        These goals will be accomplished using shaping and chaining procedures
        accompanied by most-to least promptings and level of assistance. Level
        of assistance will depend on the client’s needs and the nature of the
        behavioral goal. Level of assistance will be indicated in the
        instruction section of each program data collection form. Programs for
        Alternative Behaviors should also be implemented using Incidental
        Teaching, meaning at every opportunity of teaching these behaviors is
        presented while services are provided.
      </p>
      <!-- fin description    -->

      <div class="rbt-dashboard-table table-responsive">
        <form autocomplete="false">
          <div class="row">
            <!-- goals form -->

            <!-- sto -->
            <app-list-and-form
              #stoListForm
              title="Short Term Objectives"
              [newItem]="newSto"
              [dataSource]="input.objectives"
              [displayedColumns]="[
                'description',
                'status',
                'initial_date',
                'end_date'
              ]"
              [renders]="renders"
              [noDataText]="'Please Add Short Terms'"
            >
              <app-sto-form [(input)]="newSto"></app-sto-form>
            </app-list-and-form>
            <!-- fin sto -->

            <!-- lto -->
            <app-list-and-form
              #ltoListForm
              title="Long Term Objectives"
              [newItem]="newLto"
              [dataSource]="input.objectives"
              [displayedColumns]="[
                'description',
                'status',
                'initial_date',
                'end_date'
              ]"
              [renders]="renders"
              [noDataText]="'Please Add Long Terms'"
              openButtonText="Add"
            >
              <app-lto-form [(input)]="newLto"></app-lto-form>
            </app-list-and-form>
            <!-- fin lto -->

            <div class="col-12">
              <div class="doctor-submit text-end">
                <button
                  type="button"
                  class="btn btn-primary submit-form me-2"
                  (click)="onSave()"
                >
                  Save
                </button>
                <!-- <button type="submit" class="btn btn-primary cancel-form">Cancel</button> -->
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
