<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4">
      <div class="">
        <span>Week Total Hours<span class="login-danger">*</span></span>
        <div class="bg-primary-subtle p-2 rounded text-center">
          {{ weekTotalHours }}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <div class="">
        <div>Week Total Units<span class="login-danger">*</span></div>
        <div class="bg-primary-subtle p-2 rounded text-center">
          {{ weekTotalUnits }}
        </div>
      </div>
    </div>
  </div>
</div>
