<div class="row">
  <div class="col-12">
    <div class="personal-list-out">
      <div class="card">
        <div class="card-body">
          <div class="about-info mb-10">
            <h4>Interventions</h4>
          </div>
          <div class="row">
            <p>
              The teaching strategies described will be used either through
              Discrete Trials interventions or Natural Environment approaches:
            </p>
            <div class="col-xs-12 col-sm-6">
              <h4>Differential Reinforcement of Alternative Behaviors</h4>
              <p>
                Differential reinforcement of alternative behaviors will involve
                delivery of reinforcement each time the alternative behavior
                occurs while extinguishing problem behavior. Initially,
                reinforcement (praise, small edibles, access to tangibles) will
                be provided on a continuous schedule and then thinned to an
                intermittent schedule.
              </p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Redirection</h4>
              <p>
                This will be used to redirect the consumer to alternative
                activities when she engages in elopement, Physical aggression,
                etc. Redirection will be used either during precursor behaviors
                or after a period of no maladaptives if a maladaptive behavior
                has occurred.
              </p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Response Block</h4>
              <p>
                When Client attempts to engage in aggression, elopement,
                caregiver will use response block to prevent it, while
                minimizing eye contact and talking. The response block should
                not last for more than 15 seconds. This technique does not
                involve restraint. Problem behavior responses are blocked
                without grabbing the individual. The parent and behavior analyst
                will block by placing their arm or open hand between Client and
                the area being targeted.
              </p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Premack Principle</h4>
              <p>
                Client will engage in high-probability behavior, contingent upon
                completing programming, or chores (less probability behavior).
                Restricting the high-probability activity to below baseline
                rates will increase its reinforcing efficacy. To ensure that the
                high-probability activity will function as a reinforcer, this
                activity will only be available contingent upon the completion
                of the low-probability activity.
              </p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Shaping</h4>
              <p>
                Will be used to build target behaviors that do not yet exist
                such as waiting for tangibles, requesting tangibles,
                sharing/taking turns, interacting with peers, etc.
                Approximations to the target behavior will be consistently
                reinforced.
              </p>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Escape Extinction</h4>
              <p>
                As some of her behaviors are reinforced by escape from demands,
                extinction will be utilized to eliminate escape after the
                mentioned maladaptive behaviors. Client will be given a
                direction to complete a task, if maladaptive behaviors occur,
                then physical guidance (gently placing hand on her back and or
                hand over hand) will be used so that Client will not be able to
                escape from the demand or task. Regardless of how long Client
                engages in these behaviors caregivers will continue to present
                the demand and use physical guidance for two minutes maximum to
                prevent escape. Praise will be provided as Client completes each
                step of the task and a tangible when she completes all the
                steps. Escape independent response delivery
              </p>
            </div>
          </div>
          <div class="row">
            <ng-container *ngFor="let item of interventions; let i = index">
              <div class="col-xs-12 col-sm-6">
                <h4>{{ item.titleIntervention }}</h4>
                <p>{{ item.descriptionIntervention }}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
