<div class="row">
  <div class="col-12">
    <div class="personal-list-out">
      <div class="card">
        <div class="card-body">
          <div class="about-info mb-10">
            <h4>De-escalation Techniques</h4>
          </div>
          <div class="row align-items-center">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <ul>
                    <li>
                      Be aware and identify the precursors of maladaptive
                      behaviors that might escalate to crisis
                    </li>
                    <li>Never appear aggressive.</li>
                    <li>
                      Focus on returning the situation to a no maladaptives
                      state
                    </li>
                    <li>
                      Focus on the essence of the current crisis/behavior.
                    </li>
                    <li>
                      Do NOT use threats and do NOT belittle or make behavior
                      seem unimportant.
                    </li>
                    <li>Instruct others to leave the area</li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <ul>
                    <li>
                      Provide space and refrain from touching the individual
                    </li>
                    <li>
                      Use simple language and give short, clear directions
                    </li>
                    <li>
                      Project serene body language through your movements- keep
                      them slow and predictable.
                    </li>
                    <li>
                      Remove distracting/dangerous elements (any object which
                      can be dangerous if thrown or mishandled)
                    </li>
                    <li>Go to a less stressful place</li>
                    <li>
                      Redirect to a peaceful object or activity (go to park,
                      give a quiet toy, play soft music, play a game)
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12">
                  <label
                    >Service Recomendation
                    <span class="login-danger">*</span></label
                  >
                  <p>
                    Comprehensive treatment is being requested: ABA services
                    will be focused on reducing the gap between the member’s
                    chronological and developmental ages such that the member is
                    able to develop or restore function to the maximum extent
                    practical.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="
              !de_escalation_technique?.[0]?.recomendation_lists
            "
          >
            <app-no-info></app-no-info>
          </div>
          <ng-container
            *ngFor="let itemrl of de_escalation_technique?.[0]?.recomendation_lists"
          >
            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <div class="detail-personal">
                  <h2>cpt</h2>
                  <p>{{ itemrl.cpt }}</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3">
                <div class="detail-personal">
                  <h2>nombre</h2>
                  <p>{{ itemrl.nombre }}</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3">
                <div class="detail-personal">
                  <h2>num units</h2>
                  <p>{{ itemrl.num_units }}</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3">
                <div class="detail-personal">
                  <h2>breakdown per week</h2>
                  <p>{{ itemrl.breakdown_per_week }}</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3">
                <div class="detail-personal">
                  <h2>location</h2>
                  <p>{{ itemrl.location }}</p>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="detail-personal">
                  <h2>description service</h2>
                  <p>{{ itemrl.description_service }}</p>
                </div>
              </div>
            </div>
            <br />
            <br />
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
