<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="form-heading">
          <h4>providers:</h4>
          <div class="doctor-search-blk">
            <div class="top-nav-search table-search-blk">
              <input
                class="form-control"
                placeholder="Search here"
                [(ngModel)]="searchDataValue"
                (ngModelChange)="search($event)"
              />
              <a class="btn"
                ><img src="assets/img/icons/search-normal.svg" alt=""
              /></a>
            </div>
            <div class="add-group">
              <a
                [routerLink]="routes.doctors.add"
                *ngIf="isPermission('register_employer')"
                class="btn btn-primary add-pluss ms-2"
                ><img src="assets/img/icons/plus.svg" alt=""
              /></a>
              <a
                href="javascript:;"
                (click)="PageSize()"
                class="btn btn-primary doctor-refresh ms-2"
                ><img src="assets/img/icons/re-fresh.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row align-items-center table-responsive">
        <table
          matSort
          class="table border-0 custom-table comman-table datatable mb-0"
        >
          <thead>
            <tr>
              <th mat-sort-header="avatars">Avatar</th>
              <th mat-sort-header="names">Full Name</th>
              <th mat-sort-header="note">note</th>
              <th mat-sort-header="city">City of Residence</th>
              <th mat-sort-header="DOB">DOB</th>
              <th mat-sort-header="schedule">Schedule</th>
              <th mat-sort-header="medicaid_provider">Medicaid Provider</th>
              <th mat-sort-header="school_badge">School Badge</th>
              <th mat-sort-header="telefonos">Phone</th>
              <th mat-sort-header="emails">Email</th>
              <th mat-sort-header="languages">Languages</th>
              <th mat-sort-header="type">Contrator Type</th>
              <th mat-sort-header="role">Role</th>
              <th
                mat-sort-header="op"
                *ngIf="role === 'SUPERADMIN' || role === 'MANAGER'"
              >
                Status
              </th>
              <th mat-sort-header="createds">Created At</th>
              <th></th>
              <!--acciones -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let specialist of list">
              <td>
                <div *ngIf="!specialist.avatar">
                  <img src="assets/img/no-image.jpg" class="avatarlist" />
                </div>
                <div *ngIf="specialist.avatar">
                  <img
                    #avatarRef
                    [src]="specialist.avatar"
                    class="avatarlist"
                    [alt]="specialist.full_name"
                    (error)="avatarRef.src = 'assets/img/no-image.jpg'"
                  />
                </div>
              </td>
              <td>
                <a [routerLink]="[routes.doctors.profile, specialist.id]">
                  <!-- {{specialist.name + ' ' + (specialist.surname ? specialist.surname: '')}} -->
                  {{ specialist.full_name }}
                </a>
              </td>
              <td>
                {{ specialist.note  | slice : 0 : 10 }}...
                <i
                  class="fa fa-info-circle"
                  style="padding: 5px 0px"
                  [tooltip]="specialist.note "
                ></i>
              </td>
              <td>
                {{ specialist.city }}
              </td>
              <td>
                {{ specialist.birth_date | date : "shortDate"}}
              </td>
              <td>
                {{ specialist.schedule  | slice : 0 : 10 }}...
                <i
                  class="fa fa-info-circle"
                  style="padding: 5px 0px"
                  [tooltip]="specialist.schedule "
                ></i>
              </td>
              <td>
                {{ specialist.medicaid_provider }}
              </td>
              <td>
                {{ specialist.school_badge }}
              </td>
              <td>{{ specialist.email }}</td>
              <td>{{ specialist.phone }}</td>
              <td>
                {{ specialist.languages  | slice : 0 : 10 }}...
                <i
                  class="fa fa-info-circle"
                  style="padding: 5px 0px"
                  [tooltip]="specialist.languages "
                ></i>
              </td>
              <td>
                {{ specialist.contract_type }}
              </td>
              <td>{{ specialist.roles[0].name }}</td>
              <td>
                <select
                  class="form-control form-select-solid fw-bolder"
                  name="state"
                  [(ngModel)]="specialist.status"
                  (change)="cambiarStatusDoctor(specialist)"
                  placeholder="state"
                >
                  <option>-- Select --</option>
                  <option value="inactive">Inactive</option>
                  <option value="active">Active</option>
                  <option value="incoming">Incoming</option>
                  <option value="black list">Black list</option>
                </select>
              </td>
              <td>{{ specialist.created_at | date : "shortDate" }}</td>
            </tr>
          </tbody>
        </table>
        <div class="table_footer">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info">
              Showing {{ serialNumberArray[0] }} to
              {{ serialNumberArray[serialNumberArray.length - 1] }} of
              {{ total }} entries
            </div>
          </div>

          <div class="col-sm-12 col-md-7">
            <div class="pagination_section">
              <ul class="pagination">
                <li
                  class="page-item"
                  [ngClass]="{
                    disabled: currentPage === 1
                  }"
                >
                  <a
                    (click)="getMoreData('previous')"
                    class="page-link"
                    href="javascript:void(0);"
                    tabindex="-1"
                    >Previous</a
                  >
                </li>

                <ng-container
                  *ngFor="let item of pageNumberArray; let i = index"
                >
                  <li
                    class="page-item"
                    [class.active]="item === currentPage"
                    [ngClass]="
                      (pageNumberArray[currentPage - 2] > item &&
                        item !== 1 &&
                        pageNumberArray.length > 6) ||
                      (pageNumberArray[currentPage] < item &&
                        item !== 1 &&
                        pageNumberArray.length > 6 &&
                        pageNumberArray.length !== item)
                        ? 'hide-page-no'
                        : 'show-page-no'
                    "
                  >
                    <a
                      (click)="moveToPage(item)"
                      class="page-link"
                      href="javascript:void(0);"
                    >
                      {{ item }}
                    </a>
                  </li>
                  <li
                    class="page-item"
                    *ngIf="
                      i === 0 && pageNumberArray.length > 6 && currentPage > 2
                    "
                    [hidden]="currentPage === 1"
                    (click)="moveToPage(currentPage - 2)"
                  >
                    <a class="page-link" href="javascript:void(0);"> ... </a>
                  </li>
                  <li
                    *ngIf="
                      i === pageNumberArray.length - 2 &&
                      pageNumberArray.length > 6
                    "
                    [hidden]="
                      currentPage >=
                        pageNumberArray[pageNumberArray.length - 2] ||
                      totalData <
                        serialNumberArray[serialNumberArray.length - 1]
                    "
                    class="page-item"
                    (click)="moveToPage(currentPage + 2)"
                  >
                    <a class="page-link" href="javascript:void(0);"> ... </a>
                  </li>
                </ng-container>

                <li
                  class="page-item"
                  [ngClass]="{
                    disabled:
                      currentPage ===
                        pageNumberArray[pageNumberArray.length - 1] ||
                      patientList.length === 0
                  }"
                >
                  <a
                    (click)="getMoreData('next')"
                    class="page-link"
                    href="javascript:void(0);"
                    >Next
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
