<ng-container *ngIf="show97156">
  <!-- Intervention protocols -->
  <div class="col-xs-12">
    <div class="card">
      <div class="card-body">
        <app-interventions2
          [interventionsList]="interventionsList"
          (interventionsChange)="onInterventionsChange($event)"
        ></app-interventions2>
      </div>
    </div>
  </div>
  <!-- Intervention protocols -->
  <!-- replacements protocols -->
  <div class="col-xs-12">
    <div class="card">
      <div class="card-body">
        <app-replacements
          [obj_inprogress]="obj_inprogress"
          (replacementChange)="onReplacementChange($event)"
        ></app-replacements>
      </div>
    </div>
  </div>
  <!-- replacements protocols -->
  <!-- behaviors -->
  <div class="col-xs-12">
    <div class="card">
      <div class="card-body">
        <app-behaviors
          [behaviorList]="behaviorList"
          (behaviorsChange)="onBehaviorChange($event)"
        ></app-behaviors>
      </div>
    </div>
  </div>
  <!-- behaviors -->
   <!-- caregiver goals -->
   <div class="col-xs-12">
    <div class="card">
      <div class="card-body">
        <div class="col-12">
          <h5>Caregiver Goal</h5>
          <p class="text-danger">
            Note: Please fill out all fields. If you didn't have any
            reaction, enter "0"
          </p>
        </div>
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>Caregiver Goal</th>
                <th>% of Occurrences</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let goal of caregivers_training_goalsgroup;
                  let i = index
                "
              >
                <td>{{ goal.name }}</td>
                <td>
                  <input
                    class="form-control"
                    type="number"
                    [(ngModel)]="goal.porcent_of_correct_response"
                    (ngModelChange)="updateCaregiverGoal(i)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
   <!-- caregiver goals -->
  <!-- formulario varios -->
  <!-- <div class="col-xs-12">
    <div class="card">
      <div class="card-body">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <div
                  _ngcontent-rhp-c92=""
                  class="card-header d-flex justify-content-between align-items-center"
                >
                  <h5 _ngcontent-rhp-c92="" class="card-title">
                    Cargiver Participation
                  </h5>
                  <div
                    _ngcontent-rhp-c92=""
                    class="status-toggle d-flex justify-content-between align-items-center"
                  >
                    <input
                      _ngcontent-rhp-c92=""
                      type="checkbox"
                      id="cargiver_participation"
                      class="check"
                      name="cargiver_participation"
                      [checked]="cargiver_participation === true"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="cargiver_participation"
                      (ngModelChange)="onCheckboxChange()"
                    />
                    <label
                      _ngcontent-rhp-c92=""
                      for="cargiver_participation"
                      class="checktoggle"
                      value="true"
                      >checkbox</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <div
                  _ngcontent-rhp-c92=""
                  class="card-header d-flex justify-content-between align-items-center"
                >
                  <h5 _ngcontent-rhp-c92="" class="card-title">
                    Was the client present
                  </h5>
                  <div
                    _ngcontent-rhp-c92=""
                    class="status-toggle d-flex justify-content-between align-items-center"
                  >
                    <input
                      _ngcontent-rhp-c92=""
                      type="checkbox"
                      id="was_the_client_present"
                      class="check"
                      name="was_the_client_present"
                      [checked]="was_the_client_present === true"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="was_the_client_present"
                      (ngModelChange)="onCheckboxChange1()"
                    />
                    <label
                      _ngcontent-rhp-c92=""
                      for="was_the_client_present"
                      class="checktoggle"
                      value="true"
                      >checkbox</label
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form-group local-forms">
                <label
                  >Asked and clarified questions about the implementation of
                  <span class="login-danger">*</span></label
                >
                <input
                  class="form-control"
                  name="asked_and_clarified_questions_about_the_implementation_of"
                  [(ngModel)]="
                    asked_and_clarified_questions_about_the_implementation_of
                  "
                  (ngModelChange)="onCheckboxChange2()"
                  type="text"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group local-forms">
                <label
                  >Reinforced caregiver strengths in
                  <span class="login-danger">*</span></label
                >
                <input
                  class="form-control"
                  name="reinforced_caregiver_strengths_in"
                  [(ngModel)]="reinforced_caregiver_strengths_in"
                  type="text"
                  (ngModelChange)="onCheckboxChange3()"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group local-forms">
                <label
                  >Gave constructive feedback on
                  <span class="login-danger">*</span></label
                >
                <input
                  class="form-control"
                  name="gave_constructive_feedback_on"
                  [(ngModel)]="gave_constructive_feedback_on"
                  (ngModelChange)="onCheckboxChange4()"
                  type="text"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group local-forms">
                <label
                  >recomended more practice on
                  <span class="login-danger">*</span></label
                >
                <input
                  class="form-control"
                  name="recomended_more_practice_on"
                  [(ngModel)]="recomended_more_practice_on"
                  (ngModelChange)="onCheckboxChange5()"
                  type="text"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- formulario varios -->
</ng-container>
