<div class="card">
  <div class="card-body">
    <div class="row align-items-center mb-4">
      <app-behavior-analysis-assessment-form
        [(input)]="input"
        [showCancel]="false"
        [showSave]="false"
      ></app-behavior-analysis-assessment-form>
      <!-- Medicals -->
      <div class="col-xs-12">
        <div class="about-info detail-personal">
          <h3>Physical And Medical Status</h3>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-xs-12">
          <div class="form-group local-forms">
            <label>
              Description
              <span class="login-danger">*</span>
            </label>
            <textarea
              class="form-control"
              name="phiysical_and_medical"
              [(ngModel)]="input.physical_and_medical_status"
              rows="4"
              cols="30"
            >
            </textarea>
          </div>
        </div>
      </div>
      <!-- Medicals List -->
      <div class="row align-items-center mt-4">
        <app-list-and-form
          #phisicalAndMedicalList
          title="Medications"
          [(newItem)]="newMedication"
          [(dataSource)]="input.physical_and_medical"
          [displayedColumns]="[
            'medication',
            'dose',
            'frequency',
            'reason',
            'preescribing_physician'
          ]"
        >
          <app-phisical-and-medical
            [(input)]="newMedication"
            (cancel)="phisicalAndMedicalList.onClose()"
            (save)="phisicalAndMedicalList.onAdd($event)"
          ></app-phisical-and-medical>
        </app-list-and-form>
      </div>
      <!-- Save -->
      <div class="row align-items-center my-2">
        <div class="doctor-submit text-end">
          <button
            *ngIf="showSave"
            type="button"
            class="btn btn-primary submit-form"
            (click)="onSave()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
