<ng-container  *ngIf=" show971511" >
            <!-- BCBA conducted -->
            <div class="col-xs-12" >
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <h5>BCBA conducted client observations</h5>
                      <div class="form-group ">
                        <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                          <input _ngcontent-rhp-c92="" type="checkbox" 
                          id="BCBA_conducted_client_observations"  class="check"
                           name="BCBA_conducted_client_observations" [checked]="BCBA_conducted_client_observations === true" 
                           [ngModelOptions]="{standalone: true}" 
                           [(ngModel)]="BCBA_conducted_client_observations">
                          <label _ngcontent-rhp-c92="" for="BCBA_conducted_client_observations" class="checktoggle" value="true">checkbox</label>
                      </div>
                    </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <h5>BCBA conducted assessments</h5>
                      <div class="form-group ">
                        <div _ngcontent-rhp-c92="" class="status-toggle d-flex justify-content-between align-items-center">
                          <input _ngcontent-rhp-c92="" type="checkbox" 
                          id="BCBA_conducted_assessments"  class="check"
                           name="BCBA_conducted_assessments" [checked]="BCBA_conducted_assessments === true" 
                           [ngModelOptions]="{standalone: true}" 
                           [(ngModel)]="BCBA_conducted_assessments">
                          <label _ngcontent-rhp-c92="" for="BCBA_conducted_assessments" class="checktoggle" value="true">checkbox</label>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- BCBA conducted -->
            <!-- newList -->
            <div class="col-xs-12" >
              <div class="card">
                <div class="card-body">
                  <app-newlist
                  [newList]="newList"
                  (newListChange)="onNewListChange($event)"
                  ></app-newlist>
                </div>
              </div>
            </div>
            <!-- newList -->
            <!-- intake and outcome measures: -->
            <div class="col-xs-12" >
              <div class="card">
                <div class="card-body">
                  <app-intakeoutcome
                  [outcomeList]="outcomeList"
                  (intakeoutcomeChange)="onIntakeoutcomeChange($event)"
                  ></app-intakeoutcome>
                </div>
              </div>
            </div>
            <!-- intake and outcome measures: -->
      </ng-container>