<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <form autocomplete="false">
        <div class="row">
          <h3 class="card-title">Assessment Conducted</h3>
          <div class="row align-items-center">
            <div class="col-12">
              <div class="form-group local-forms">
                <label
                  >Assessment Conducted
                  <span class="login-danger">*</span></label
                >
                <textarea
                  class="form-control"
                  name="assestment_conducted"
                  [(ngModel)]="assestmentConducted"
                  (ngModelChange)="assestmentConductedChange.emit($event)"
                  rows="4"
                  cols="30"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row align-items-center" style="margin-bottom: 30px">
            <h4 class="card-title">Evaluation Settings</h4>
            <div class="row align-items-center">
              <div class="col-xs-12">
                <form action="">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group local-forms">
                        <label
                          >Tangible<span class="login-danger">*</span></label
                        >
                        <textarea
                          class="form-control"
                          name="tangible"
                          [(ngModel)]="newAssestmentEvaluationSetting.tangible"
                          rows="4"
                          cols="30"
                        ></textarea>
                        <!-- <input class="form-control" name="assestment_title"  [(ngModel)]="assestment_title" type="text"  > -->
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group local-forms">
                        <label
                          >Activities<span class="login-danger">*</span></label
                        >
                        <textarea
                          class="form-control"
                          name="activities"
                          [(ngModel)]="
                            newAssestmentEvaluationSetting.activities
                          "
                          rows="4"
                          cols="30"
                        ></textarea>
                        <!-- <input class="form-control" name="assestment_title"  [(ngModel)]="assestment_title" type="text"  > -->
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="form-group local-forms">
                        <label>Other<span class="login-danger">*</span></label>
                        <textarea
                          class="form-control"
                          name="other"
                          [(ngModel)]="newAssestmentEvaluationSetting.other"
                          rows="4"
                          cols="30"
                        ></textarea>
                        <!-- <input class="form-control" name="assestment_title"  [(ngModel)]="assestment_title" type="text"  > -->
                      </div>
                    </div>

                    <div class="col-12 mb-3 doctor-submit text-end">
                      <button
                        class="btn btn-primary btn-sm"
                        (click)="addEvaluationSettings()"
                      >
                        Update Evaluation Settings
                      </button>
                    </div>
                  </div>
                </form>

                <div class="col-xs-12">
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th>Tangible</th>
                          <th>Activities</th>
                          <th>Other</th>
                          <th>Options</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let evaluation of assestmentEvaluationSettings;
                            let i = index
                          "
                        >
                          <td>
                            {{ evaluation.tangible }}
                          </td>
                          <td>
                            {{ evaluation.activities }}
                          </td>
                          <td>
                            {{ evaluation.other }}
                          </td>
                          <td>
                            <button
                              class="btn btn-outline-success btn-sm"
                              (click)="seleccionarParaEva(evaluation)"
                              data-bs-toggle="modal"
                              [attr.data-bs-target]="'#edit-evaluation-' + i"
                            >
                              <i class="fa fa-pencil"></i> Edit
                            </button>
                            <!-- <button class="btn btn-outline-success btn-sm" (click)="updateItemListEvaluationSetting(evaluation, i)"><i class="fa fa-pencil"></i> Edit</button> -->
                            <button
                              class="btn btn-outline-danger btn-sm"
                              (click)="deleteEvaluationSetting(i)"
                            >
                              x Delete
                            </button>
                          </td>

                          <!-- modal edit evaluation-->

                          <div
                            [id]="'edit-evaluation-' + i"
                            class="modal fade"
                            role="dialog"
                          >
                            <div
                              class="modal-dialog modal-dialog-centered modal-lg"
                            >
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="modalEscape">
                                    {{
                                      newAssestmentEvaluationSetting.tangible
                                    }}
                                  </h5>
                                  <a
                                    href="javascript:void(0);"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                    class="btn btn-white me-1"
                                    >Close</a
                                  >
                                </div>
                                <div class="modal-body text-center">
                                  <div class="col-xs-12">
                                    <form action="">
                                      <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                          <div class="form-group local-forms">
                                            <label
                                              >Tangible<span
                                                class="login-danger"
                                                >*</span
                                              ></label
                                            >
                                            <textarea
                                              class="form-control"
                                              name="tangible"
                                              [(ngModel)]="
                                                newAssestmentEvaluationSetting.tangible
                                              "
                                              rows="4"
                                              cols="30"
                                            ></textarea>
                                          </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                          <div class="form-group local-forms">
                                            <label
                                              >Activities<span
                                                class="login-danger"
                                                >*</span
                                              ></label
                                            >
                                            <textarea
                                              class="form-control"
                                              name="activities"
                                              [(ngModel)]="
                                                newAssestmentEvaluationSetting.activities
                                              "
                                              rows="4"
                                              cols="30"
                                            ></textarea>
                                          </div>
                                        </div>
                                        <div class="col-xs-12">
                                          <div class="form-group local-forms">
                                            <label
                                              >Other<span class="login-danger"
                                                >*</span
                                              ></label
                                            >
                                            <textarea
                                              class="form-control"
                                              name="other"
                                              [(ngModel)]="
                                                newAssestmentEvaluationSetting.other
                                              "
                                              rows="4"
                                              cols="30"
                                            ></textarea>
                                          </div>
                                        </div>
                                        <div
                                          class="col-12 mb-3 doctor-submit text-end"
                                        >
                                          <button
                                            class="btn btn-primary btn-sm"
                                            (click)="
                                              updateItemListEvaluationSetting(
                                                newAssestmentEvaluationSetting
                                              )
                                            "
                                          >
                                            Update Info
                                          </button>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- modal edit evaluation end-->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="row align-items-center"
            style="margin-bottom: 30px; padding-top: 30px"
          >
            <h4 class="card-title">Documents Reviewed</h4>
            <div class="row align-items-center">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group local-forms">
                      <label>
                        Document Title<span class="login-danger">*</span>
                      </label>
                      <input
                        class="form-control"
                        name="assestment_title"
                        [(ngModel)]="newAssestmentDocument.assestment_title"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <div class="form-group local-forms">
                      <label>Status<span class="login-danger">*</span></label>
                      <select
                        class="form-control form-select-solid fw-bolder"
                        name="assestment_status"
                        [(ngModel)]="newAssestmentDocument.assestment_status"
                        placeholder="state"
                      >
                        <option>-- Select --</option>
                        <option value="pending">Pending</option>
                        <option value="reviewing">Reviewing</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-12 mb-3 doctor-submit text-end">
                    <button
                      class="btn btn-primary btn-sm"
                      (click)="addAssesstmentDocument()"
                    >
                      Update Assestment Document
                    </button>
                  </div>
                </div>

                <div class="col-xs-12">
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th>Assessment Document Title</th>
                          <th>Status</th>
                          <th>Options</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let assesstment of assesstmentsDocuments;
                            let i = index
                          "
                        >
                          <td>
                            {{ assesstment.assestment_title }}
                          </td>
                          <td>
                            {{ assesstment.assestment_status }}
                          </td>
                          <td>
                            <!-- <button class="btn btn-outline-success btn-sm" (click)="updateItemListEvaluationSetting(assesstment, i)"><i class="fa fa-pencil"></i> Edit</button> -->
                            <button
                              class="btn btn-outline-danger btn-sm"
                              (click)="deleteAssesstmentDocument(i)"
                            >
                              x
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- validaciones -->

          <div class="form-group row" *ngIf="text_validation">
            <div class="col-md-12">
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
              >
                <strong>!</strong> {{ text_validation }}.
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true"> </span>
                </button>
              </div>
            </div>
          </div>
          <!-- validaciones -->

          <div class="col-12">
            <div class="doctor-submit text-end">
              <button
                type="button"
                class="btn btn-primary submit-form me-2"
                (click)="onSave()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
