<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header d-print-none">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <!-- Show different breadcrumb based on fromParam -->
            <ng-container *ngIf="fromParam?.toLowerCase() === 'log'; else defaultBreadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/reports/logs']">Log Report</a></li>
              <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
              <li class="breadcrumb-item active">View Note</li>
            </ng-container>
            <ng-template #defaultBreadcrumb>
              <li class="breadcrumb-item"><a [routerLink]="[routes.noteRbt.list, patient_identifier]">RBT Notes</a></li>
              <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
              <li class="breadcrumb-item active">View Note</li>
            </ng-template>
          </ul>
          <div class="doctor-submit text-start">
            <button class="btn btn-primary btn-sm" (click)="goBack()">
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <!-- *ngIf="?" -->
    <div class="row" id="contentToConvert" #contentToConvert>
      <div class="col-sm-12" >
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="about-info mb-10">
                  <h4>Client Note Rbt</h4>
                </div>
                <div
                  class="doctor-profile-head"
                  style="background-color: white"
                >
                  <div class="row">
                    <div class="col-sm-8">
                      <div class="profile-user-box align-items-left" style="padding-top: 10px">
                        <div class="names-profiles">
                          <!-- <h5>Client</h5>
                          <p>{{ patient_selected.first_name }} ({{ note_selected.patient_identifier }})</p>

                          <h5>Provider Name</h5>
                          <p>{{ doctor_selected_full_name }}</p> -->
                        </div>
                      </div>
                    </div>

                    <div
                      class="col-sm-4 d-flex align-items-center d-print-none"
                    >
                      <div class="follow-btn-group">
                        <a
                          [routerLink]="[routes.noteRbt.edit, note_id]"
                          [queryParams]="{ from: fromParam }"
                          *ngIf="
                            note_selected?.status === 'pending' ||
                            note_selected?.status === 'no'
                          "
                          class="btn btn-info follow-btns"
                          >Edit</a
                        >
                        <!-- <button
                          class="btn btn-info follow-btns"
                          (click)="print()"
                        >
                          Save PDF
                        </button> -->
                        <app-pdf-button [noteType]="'rbt'" [noteId]="note_id"></app-pdf-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="doctor-personals-grp">
              <div class="card">
                <div class="card-body">
                  <ng-container *ngIf="option_selected === 1">
                    <div class="personal-list-out">
                      <div class="row">
                        
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Full Name</h2>
                            <p>
                              {{ patient_selected?.first_name }}
                              {{ patient_selected?.last_name }}
                            </p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Patient Id</h2>
                            <p>{{ patient_selected?.patient_identifier }}</p>
                          </div>
                        </div>
                        
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Diagnosis Code</h2>
                            <p>{{ patient_selected?.diagnosis_code }}</p>
                          </div>
                        </div>

                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Insurance Id</h2>
                            <p>{{ patient_selected?.insurance_identifier }}</p>
                          </div>
                        </div>
                        
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Provider Name</h2>
                            <p>{{ doctor_selected_full_name }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-lg-3 col-xl-3">
                          <div class="detail-personal">
                            <h2>Provider Credential</h2>
                            <p>{{ note_selected?.provider_credential }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-lg-3 col-xl-3">
                          <div class="detail-personal">
                            <h2>Supervisor BCBA</h2>
                            <p>{{ doctor_selected_full_name_bcba }}</p>
                          </div>
                        </div>
                       
                        <div class="clear"></div>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Modifier</h2>
                            <p>{{ note_selected?.md }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Modifier 2 (optional)</h2>
                            <p>{{ note_selected?.md2 ?? "&nbsp;" }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Modifier 3 (optional)</h2>
                            <p>{{ note_selected?.md3 ?? "&nbsp;" }}</p>
                          </div>
                        </div>
                        <div class="clear"></div>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>DOS</h2>
                            <p>{{ note_selected?.session_date |  date : "shortDate" }}</p>
                          </div>
                        </div>
                        <!-- POS -->
                        <div class="col-xl-3 col-md-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>POS</h2>
                            <p>{{ note_selected?.meet_with_client_at }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Session Length Total</h2>
                            <p>
                              {{
                                note_selected?.session_length_total || "&nbsp;"
                              }}
                            </p>
                          </div>
                        </div>

                        <div class="clear"></div>

                        <h5 class="mb-3">Morning Session</h5>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Time In</h2>
                            <p>{{ note_selected?.time_in | transformToDate }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Time Out</h2>
                            <p>
                              {{ note_selected?.time_out | transformToDate }}
                            </p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Total First Session</h2>
                            <p>
                              {{
                                note_selected?.session_length_morning_total ||
                                  "&nbsp;"
                              }}
                            </p>
                          </div>
                        </div>
                        <div class="clear"></div>
                        <h5 class="mb-3">Afternoon Session</h5>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Time In</h2>
                            <p>
                              {{ note_selected?.time_in2 | transformToDate }}
                            </p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Time Out</h2>
                            <p>
                              {{ note_selected?.time_out2 | transformToDate }}
                            </p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Total Second Session</h2>
                            <p>
                              {{
                                note_selected?.session_length_afternon_total ||
                                  "&nbsp;"
                              }}
                            </p>
                          </div>
                        </div>
                        <div class="clear"></div>
                         <!-- CPT -->
                         <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>CPT</h2>
                            <p>{{ note_selected?.cpt_code  }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Environmental Changes</h2>
                            <p>{{ note_selected?.environmental_changes }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 col-lg-3">
                          <div class="detail-personal">
                            <h2>Present this Session</h2>
                            <p></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <!-- Break -->
              <div class="page-break" style="page-break-after: always"></div>
              <!-- Break -->
              <div class="row">
                <!-- Maladaptive -->
                <div class="col-xs-12 col-sm-6">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Maladaptives</h4>
                    </div>
                    <div class="card-body p-0">
                      <div class="personal-list-out">
                        <div class="container">
                          <div class="row">
                            <table class="table mb-0">
                              <thead>
                                <tr>
                                  <th>
                                    <h2
                                      style="font-size: 12px; font-weight: 500"
                                    >
                                      Maladaptive
                                    </h2>
                                  </th>
                                  <th>
                                    <h2
                                      style="font-size: 12px; font-weight: 500"
                                    >
                                      # of Occurrences
                                    </h2>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  *ngFor="
                                    let behavior of maladaptives;
                                    let i = index
                                  "
                                >
                                  <td>
                                    {{ behavior.name }}
                                  </td>
                                  <td>
                                    {{ behavior.number_of_occurrences }}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Replacements -->
                <div class="col-xs-12 col-sm-6">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Replacements</h4>
                    </div>
                    <div class="card-body p-0">
                      <div class="personal-list-out">
                        <div class="container">
                          <div class="row">
                            <table class="table mb-0">
                              <thead>
                                <tr>
                                  <th>
                                    <h2
                                      style="font-size: 12px; font-weight: 500"
                                    >
                                      Replacement
                                    </h2>
                                  </th>
                                  <th>
                                    <h2
                                      style="font-size: 12px; font-weight: 500"
                                    >
                                      Total Trials
                                    </h2>
                                  </th>
                                  <th>
                                    <h2
                                      style="font-size: 12px; font-weight: 500"
                                    >
                                      # of Correct Responses
                                    </h2>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  *ngFor="
                                    let replacemen of replacementgroup;
                                    let i = index
                                  "
                                >
                                  <td>
                                    {{ replacemen.name }}
                                  </td>
                                  <td>
                                    {{ replacemen.total_trials }}
                                  </td>
                                  <td>
                                    {{ replacemen.number_of_correct_response }}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-break" style="page-break-after: always"></div>
              <!-- Interventions -->
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Interventions</h4>
                </div>
                <!-- body card -->
                <div class="card-body p-0">
                  <div class="personal-list-out">
                    <div class="container">
                      <div class="col-xs-12">
                        <div class="row">
                          <div class="col-xs-12 col-sm-3">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span>Pairing</span>
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <i
                                  *ngIf="intervention?.pairing"
                                  class="fa fa-check"
                                ></i>
                                <i
                                  *ngIf="!intervention?.pairing"
                                  class="fa fa-times"
                                ></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span>Response Block</span>
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <i
                                  *ngIf="intervention?.response_block"
                                  class="fa fa-check"
                                ></i>
                                <i
                                  *ngIf="!intervention?.response_block"
                                  class="fa fa-times"
                                ></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span>DRA</span>
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <i
                                  *ngIf="intervention?.DRA"
                                  class="fa fa-check"
                                ></i>
                                <i
                                  *ngIf="!intervention?.DRA"
                                  class="fa fa-times"
                                ></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span>DRO</span>
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <i
                                  *ngIf="intervention?.DRO"
                                  class="fa fa-check"
                                ></i>
                                <i
                                  *ngIf="!intervention?.DRO"
                                  class="fa fa-times"
                                ></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span>Redirection</span>
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <i
                                  *ngIf="intervention?.redirection"
                                  class="fa fa-check"
                                ></i>
                                <i
                                  *ngIf="!intervention?.redirection"
                                  class="fa fa-times"
                                ></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span>Errorless Teaching</span>
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <i
                                  *ngIf="intervention?.errorless_teaching"
                                  class="fa fa-check"
                                ></i>
                                <i
                                  *ngIf="!intervention?.errorless_teaching"
                                  class="fa fa-times"
                                ></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span>NCR</span>
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <i
                                  *ngIf="intervention?.NCR"
                                  class="fa fa-check"
                                ></i>
                                <i
                                  *ngIf="!intervention?.NCR"
                                  class="fa fa-times"
                                ></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span>Shaping</span>
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <i
                                  *ngIf="intervention?.shaping"
                                  class="fa fa-check"
                                ></i>
                                <i
                                  *ngIf="!intervention?.shaping"
                                  class="fa fa-times"
                                ></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span>Chaining</span>
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <i
                                  *ngIf="intervention?.chaining"
                                  class="fa fa-check"
                                ></i>
                                <i
                                  *ngIf="!intervention?.chaining"
                                  class="fa fa-times"
                                ></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span>Token Economy</span>
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <i
                                  *ngIf="intervention?.token_economy"
                                  class="fa fa-check"
                                ></i>
                                <i
                                  *ngIf="!intervention?.token_economy"
                                  class="fa fa-times"
                                ></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span>Extinction</span>
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <i
                                  *ngIf="intervention?.extinction"
                                  class="fa fa-check"
                                ></i>
                                <i
                                  *ngIf="!intervention?.extinction"
                                  class="fa fa-times"
                                ></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-3">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <span>Natural Teaching</span>
                              <div
                                class="d-flex justify-content-between align-items-center"
                              >
                                <i
                                  *ngIf="intervention?.natural_teaching"
                                  class="fa fa-check"
                                ></i>
                                <i
                                  *ngIf="!intervention?.natural_teaching"
                                  class="fa fa-times"
                                ></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Interventions -->
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Summary Note</h4>
                </div>
                <div class="card-body p-0">
                  <div class="personal-list-out">
                    <div class="container">
                      <div class="row">

                        <div class="col-xl-3 col-md-6">
                          <div class="detail-personal">
                            <h2>Client appeared</h2>
                            <p>{{ note_selected?.client_appeared }}</p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                          <div class="detail-personal">
                            <h2>As evidenced by</h2>
                            <p>{{ note_selected?.as_evidenced_by }}</p>
                          </div>
                        </div>
                        <div class="col-xl-12">
                          <div class="detail-personal">
                            <h2>RBT modeled and demonstrated to caregiver</h2>
                            <p>
                              {{
                                note_selected?.rbt_modeled_and_demonstrated_to_caregiver
                              }}
                            </p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-xl-6">
                          <div class="detail-personal">
                            <h2>
                              Progress noted this session compared to previous
                              session
                            </h2>
                            <p>
                              {{
                                note_selected?.progress_noted_this_session_compared_to_previous_session
                              }}
                            </p>
                          </div>
                        </div>
                        <div class="col-xl-12">
                          <div class="detail-personal">
                            <h2>Note's Summary</h2>
                            <p>
                              {{
                                note_selected?.summary_note
                              }}
                            </p>
                          </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-xl-6">
                          <div class="detail-personal">
                            <h2>Next session is scheduled for</h2>
                            <p>
                              {{
                                note_selected?.next_session_is_scheduled_for
                                | date : "shortDate"
                              }}
                            </p>
                          </div>
                        </div>
                        <div class="row mt-5 page-break-avoid">
                          <div
                            class="col-xs-12 d-flex align-items-center justify-content-center"
                          >
                            <div class="col-xl-4 col-md-6">
                              <div class="detail-personal">
                                <h2>Provider Signature</h2>
                                <img
                                  src="{{
                                    IMAGE_PREVISUALIZA_SIGNATURE__RBT_CREATED
                                  }}"
                                  style="
                                    width: 100%;
                                    height: 100px;
                                    max-height: 100px;
                                  "
                                />
                              </div>
                              <div class="detail-personal">
                                <h2 style="margin: 0">Provider Name RBT</h2>
                                <p style="margin-bottom: 8px">
                                  {{ doctor_selected_full_name }}
                                </p>
                                <h2 style="margin: 0">Signature Date</h2>
                                <p>{{ note_selected?.session_date | date : "shortDate"  }}</p>
                              </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                              <div class="detail-personal">
                                <h2>Supervisor Signature</h2>
                                <img
                                  src="{{
                                    IMAGE_PREVISUALIZA_SIGNATURE_BCBA_CREATED
                                  }}"
                                  style="
                                    width: 100%;
                                    height: 100px;
                                    max-height: 100px;
                                  "
                                />
                              </div>
                              <div class="detail-personal">
                                <h2 style="margin: 0">Supervisor Name BCBA</h2>
                                <p style="margin-bottom: 8px">
                                  {{ doctor_selected_full_name_bcba }}
                                </p>
                                <h2 style="margin: 0">Signature Date</h2>
                                <p>{{ note_selected?.session_date  | date : "shortDate" }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
