<!-- other -->
<div class="col-sm-12" *ngIf="!input">
  <app-no-info></app-no-info>
</div>
<div class="col-sm-12" *ngIf="input">
  <div class="card">
    <div class="card-body">
      <div class="col-xs-12">
        <!-- list -->
        <app-list-and-form
          *ngIf="state === 'list'"
          #list
          title="De-escalation Techniques"
          [(newItem)]="newItem"
          [(dataSource)]="input"
          [displayedColumns]="displayedColumns"
          [renders]="renders"
          [options]="options"
        >
          <app-de-escalation-form
            title="De-escalation Technique"
            [(input)]="newItem"
            (cancel)="list.onClose()"
            (save)="list.onAdd($event); onSave()"
          >
            <!-- ...existing code with instructions... -->
          </app-de-escalation-form>
        </app-list-and-form>

        <!-- Save -->
        <div *ngIf="state === 'list'" class="doctor-submit text-end mt-4">
          <button class="btn btn-primary btn-sm" (click)="onSave()">
            Save
          </button>
        </div>

        <!-- Back -->
        <div *ngIf="state !== 'list'" class="doctor-submit text-end">
          <button class="btn btn-primary btn-sm" (click)="onBack()">
            Back
          </button>
        </div>

        <!-- Edit -->
        <div *ngIf="state === 'edit'">
          <app-de-escalation-edit
            title="De-escalation Technique"
            [(input)]="newItem"
            (cancel)="onBack()"
            (save)="onSave(); onBack()"
          >
            <!-- ...existing code with instructions... -->
          </app-de-escalation-edit>
        </div>
      </div>
    </div>
  </div>
</div>
