<div mat-dialog-title class="h3" style="font-size: 1.5rem !important">
  Behavior Analysis Assessment
</div>

<div mat-dialog-content>
  <div class="mt-4 card-body">
    <!-- Type of Assessment -->
    <div class="row align-items-center">
      <div class="col-12">
        <label class="d-block mb-2">
          Type of Assessment:<span class="login-danger">*</span>
        </label>
        <div class="row">
          <div
            class="col-xs-12 col-sm-4"
            *ngFor="let item of assessments_types | keyvalue"
          >
            <div class="form-group">
              <div
                class="card-header d-flex justify-content-between align-items-center"
                style="cursor: pointer"
                (click)="input.type_of_assessment = $any(item.key)"
              >
                <div>{{ item.value }}</div>
                <div
                  class="status-toggle d-flex justify-content-between align-items-center"
                  (click)="$event.stopPropagation()"
                >
                  <input
                    type="radio"
                    [id]="'type_' + item.key"
                    class="check"
                    name="type_of_assessment"
                    [value]="item.key"
                    [(ngModel)]="input.type_of_assessment"
                  />
                  <label [for]="'type_' + item.key" class="checktoggle">
                    checkbox
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Background Information -->
    <div class="row align-items-center">
      <div class="col-xs-12">
        <div class="form-group local-forms">
          <label>
            Background Information
            <span class="login-danger">*</span>
          </label>
          <textarea
            class="form-control"
            name="background_information"
            [(ngModel)]="input.background_information"
            rows="4"
            cols="30"
          >
          </textarea>
        </div>
      </div>
      <!-- Previous treatments and results -->
      <div class="col-xs-12 col-sm-6">
        <div class="form-group local-forms">
          <label>
            Previous treatments and results
            <span class="login-danger">*</span>
          </label>
          <textarea
            class="form-control"
            name="previus_treatment_and_result"
            [(ngModel)]="input.previus_treatment_and_result"
            rows="4"
            cols="30"
          >
          </textarea>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group local-forms">
          <label>
            Current treatment and progress
            <span class="login-danger">*</span>
          </label>
          <textarea
            class="form-control"
            name="current_treatment_and_progress"
            [(ngModel)]="input.current_treatment_and_progress"
            rows="4"
            cols="30"
          >
          </textarea>
        </div>
      </div>
      <!-- Education status -->
      <div class="col-12 col-md-6">
        <div class="form-group local-forms">
          <label> Education status <span class="login-danger">*</span> </label>
          <textarea
            class="form-control"
            name="education_status"
            [(ngModel)]="input.education_status"
            rows="4"
            cols="30"
          >
          </textarea>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="about-info detail-personal">
          <h3>Strengths and Weakness</h3>
        </div>
      </div>
      <!-- Strengths -->
      <div class="col-12 col-md-6">
        <div class="form-group local-forms">
          <label>Strengths <span class="login-danger">*</span> </label>
          <textarea
            class="form-control"
            name="strengths"
            [(ngModel)]="input.strengths"
            rows="4"
            cols="30"
          >
          </textarea>
        </div>
      </div>
      <!-- Weakneses -->
      <div class="col-12 col-sm-6">
        <div class="form-group local-forms">
          <label>Weakneses <span class="login-danger">*</span> </label>
          <textarea
            class="form-control"
            name="weakneses"
            [(ngModel)]="input.weakneses"
            rows="4"
            cols="30"
          >
          </textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <div class="col-12 mb-3 text-end">
    <button
      *ngIf="showCancel"
      (click)="onCancel()"
      class="btn btn-outline-danger btn-sm me-2"
    >
      Cancel
    </button>
    <button *ngIf="showSave" (click)="onSave()" class="btn btn-primary btn-sm">
      Save
    </button>
  </div>
</div>
