.table.comman-table > tbody > tr > td {
    padding: 0px 15px;
}

.search5{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.overlaylist{
    width: 100%;
    height: 30vh;
    overflow: hidden;
    overflow-y: scroll;
}

