<div class="row align-items-center">
  <div class="col-xs-12 col-md-6">
    <div class="form-group local-forms">
      <label>Goal: <span class="login-danger">*</span></label>
      <input
        disabled
        class="form-control"
        name="maladaptive_title"
        [(ngModel)]="goal.name"
        type="text"
        placeholder="Maladaptive title"
      />
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="form-group local-forms">
      <label> Status<span class="login-danger">*</span> </label>
      <select
        class="form-control form-select-solid fw-bolder"
        name="sustitution_status_sto"
        [(ngModel)]="goal.status"
        [ngModelOptions]="{ standalone: true }"
      >
        <option>-- Select --</option>
        <option *ngFor="let state of status | keyvalue" [value]="state.key">
          {{ state.value }}
        </option>
      </select>
    </div>
  </div>
</div>
