<ng-container *ngIf="show97155">
  <!-- Intervention protocols -->
  <div class="col-xs-12">
    <div class="card">
      <div class="card-body">
        <app-interventions3
          [interventionsListDoble]="interventionsListDoble"
          (update)="onInterventions2Change($event)"
        ></app-interventions3>
      </div>
    </div>
  </div>
  <!-- Intervention protocols -->
  <!-- replacements protocols -->
  <div class="col-xs-12">
    <div class="card">
      <div class="card-body">
        <app-replacements2
          [obj_inprogress1]="obj_inprogress1"
          (replacementsChange2)="onReplacement2Change($event)"
        ></app-replacements2>
      </div>
    </div>
  </div>
  <!-- replacements protocols -->
  <!-- modifications needed at this time -->
  <div class="col-xs-12">
    <div class="card">
      <div class="card-body">
        <div class="col-12">
          <h4 class="card-title">
            Modifications needed at this time
          </h4>
          <div class="form-group">
            <div class="status-toggle d-flex justify-content-between align-items-center">
              <input
                type="checkbox"
                id="modifications_needed_at_this_time"
                class="check"
                [(ngModel)]="modifications_needed_at_this_time"
                name="modifications_needed_at_this_time"
                (ngModelChange)="onCheckboxChange()"
              />
              <label for="modifications_needed_at_this_time" class="checktoggle">checkbox</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modifications needed at this time -->
  <!-- Additional goals or interventions -->
  <div class="col-xs-12">
    <div class="card">
      <div class="card-body">
        <div class="col-12">
          <h4 class="card-title">
            Additional goals or interventions
          </h4>
          <div class="form-group">
            <textarea
              class="form-control"
              name="additional_goals_or_interventions"
              [(ngModel)]="additional_goals_or_interventions"
              (ngModelChange)="onCheckboxChange1()"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Additional goals or interventions -->
</ng-container>
