<div mat-dialog-title class="h3" style="font-size: 1.5rem !important">
  Short Term Objectives
</div>
<div mat-dialog-content>
  <div class="container mt-4">
    <div class="row align-items-center">
      <div class="col-12 col-md-3 col-xl-3">
        <div class="form-group local-forms">
          <label>Status<span class="login-danger">*</span></label>
          <select
            class="form-control form-select-solid fw-bolder"
            name="status_sto"
            [(ngModel)]="input.status"
            [ngModelOptions]="{ standalone: true }"
          >
            <option>-- Select --</option>
            <option *ngFor="let state of states | keyvalue" [value]="state.key">
              {{ state.value }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-3 col-xl-3">
        <div class="form-group local-forms">
          <label> Initial Date<span class="login-danger">*</span> </label>
          <input
            class="form-control datetimepicker"
            name="initial_date_sto"
            [(ngModel)]="input.initial_date"
            type="text"
            matInput
            [matDatepicker]="pickerDateSTO"
          />
          <mat-datepicker #pickerDateSTO></mat-datepicker>
          <mat-datepicker-toggle matIconSuffix [for]="pickerDateSTO">
          </mat-datepicker-toggle>
        </div>
      </div>
      <div class="col-12 col-md-3 col-xl-3">
        <div class="form-group local-forms">
          <label>End Date<span class="login-danger">*</span></label>
          <input
            class="form-control datetimepicker"
            name="end_date_sto"
            [(ngModel)]="input.end_date"
            type="text"
            matInput
            [matDatepicker]="pickerDateSTO2"
          />
          <mat-datepicker #pickerDateSTO2></mat-datepicker>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerDateSTO2"
          ></mat-datepicker-toggle>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-xs-12">
        <div class="form-group local-forms">
          <label>Description <span class="login-danger">*</span></label>
          <textarea
            class="form-control"
            name="decription_sto"
            [(ngModel)]="input.description"
            rows="4"
            cols="30"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="col-12 mb-3 doctor-submit text-end">
    <button class="btn btn-primary btn-sm" (click)="onSave()">Save</button>
  </div>
</div>
