<div mat-dialog-title class="h3" style="font-size: 1.5rem !important">
  {{ title }}
</div>
<div mat-dialog-content>
  <div class="container mt-4">
    <div class="col-12"><ng-content></ng-content></div>
    <div class="row align-items-center">
      <div class="col-12 col-md-3 col-xl-3">
        <div class="form-group local-forms">
          <label>Status<span class="login-danger">*</span></label>
          <select
            class="form-control form-select-solid fw-bolder"
            name="status"
            [(ngModel)]="input.status"
            [ngModelOptions]="{ standalone: true }"
          >
            <option>-- Select --</option>
            <option *ngFor="let state of status | keyvalue" [value]="state.key">
              {{ state.value }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-3 col-xl-3">
        <div class="form-group local-forms">
          <label>Initial Date<span class="login-danger">*</span></label>
          <input
            class="form-control datetimepicker"
            name="initial_date"
            [(ngModel)]="input.initial_date"
            type="text"
            matInput
            [matDatepicker]="pickerDateSTO"
          />
          <mat-datepicker #pickerDateSTO></mat-datepicker>
          <mat-datepicker-toggle matIconSuffix [for]="pickerDateSTO">
          </mat-datepicker-toggle>
        </div>
      </div>
      <div class="col-12 col-md-3 col-xl-3">
        <div class="form-group local-forms">
          <label>End Date<span class="login-danger">*</span></label>
          <input
            class="form-control datetimepicker"
            name="end_date"
            [(ngModel)]="input.end_date"
            type="text"
            matInput
            [matDatepicker]="pickerDateSTO2"
          />
          <mat-datepicker #pickerDateSTO2></mat-datepicker>
          <mat-datepicker-toggle matIconSuffix [for]="pickerDateSTO2">
          </mat-datepicker-toggle>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-xs-12">
        <div class="form-group local-forms">
          <label>Description<span class="login-danger">*</span></label>
          <select
            class="form-control form-select-solid fw-bolder"
            [(ngModel)]="input.description"
            [ngModelOptions]="{ standalone: true }"
          >
            <option>-- Select --</option>
            <option
              value="RBT will independently demonstrate appropriate data collection, near 100% of opportunities, across two consecutive observations."
            >
              RBT will independently demonstrate appropriate data collection,
              near 100% of opportunities, across two consecutive observations.
            </option>
            <option
              value="RBT will independently demonstrate DRA procedure, near 100% of opportunities, across two consecutive observations."
            >
              RBT will independently demonstrate DRA procedure, near 100% of
              opportunities, across two consecutive observations.
            </option>
            <option
              value="RBT will independently demonstrate Premack Principle procedure, near 100% of opportunities, across two consecutive observations."
            >
              RBT will independently demonstrate Premack Principle procedure,
              near 100% of opportunities, across two consecutive observations.
            </option>
            <option
              value="RBT will independently demonstrate Redirection procedure, near 100% of opportunities, across two consecutive observations."
            >
              RBT will independently demonstrate Redirection procedure, near
              100% of opportunities, across two consecutive observations.
            </option>
            <option
              value="RBT will independently demonstrate Errorless teaching, near 100% of opportunities, across two consecutive observations."
            >
              RBT will independently demonstrate Errorless teaching, near 100%
              of opportunities, across two consecutive observations.
            </option>
            <option
              value="RBT will independently demonstrate Shaping procedure, near 100% of opportunities, across two consecutive observations"
            >
              RBT will independently demonstrate Shaping procedure, near 100% of
              opportunities, across two consecutive observations
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="col-12 mb-3 text-end">
    <button (click)="onCancel()" class="btn btn-outline-danger btn-sm">
      Cancel
    </button>
    <button (click)="onSave()" class="btn btn-primary btn-sm">Save</button>
  </div>
</div>
