<div class="row align-items-center">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="form-group local-forms">
          <label>LTO<span class="login-danger">*</span> </label>
          <select
            class="form-control form-select-solid fw-bolder"
            name="lto"
            [(ngModel)]="input.name"
            [ngModelOptions]="{ standalone: true }"
          >
            <option>-- Select --</option>
            <option
              value="RBT will independently demonstrate appropriate data collection, near 100% of opportunities, across two consecutive observations."
            >
              RBT will independently demonstrate appropriate data collection,
              near 100% of opportunities, across two consecutive observations.
            </option>
            <option
              value="RBT will independently demonstrate DRA procedure, near 100% of opportunities, across two consecutive observations."
            >
              RBT will independently demonstrate DRA procedure, near 100% of
              opportunities, across two consecutive observations.
            </option>
            <option
              value="RBT will independently demonstrate Premack Principle procedure, near 100% of opportunities, across two consecutive observations."
            >
              RBT will independently demonstrate Premack Principle procedure,
              near 100% of opportunities, across two consecutive observations.
            </option>
            <option
              value="RBT will independently demonstrate Redirection procedure, near 100% of opportunities, across two consecutive observations."
            >
              RBT will independently demonstrate Redirection procedure, near
              100% of opportunities, across two consecutive observations.
            </option>
            <option
              value="RBT will independently demonstrate Errorless teaching, near 100% of opportunities, across two consecutive observations."
            >
              RBT will independently demonstrate Errorless teaching, near 100%
              of opportunities, across two consecutive observations.
            </option>
            <option
              value="RBT will independently demonstrate Shaping procedure, near 100% of opportunities, across two consecutive observations"
            >
              RBT will independently demonstrate Shaping procedure, near 100% of
              opportunities, across two consecutive observations
            </option>
          </select>
        </div>
      </div>

      <div class="col-xs-12 col-md-3">
        <div class="form-group local-forms">
          <label>Status<span class="login-danger">*</span> </label>
          <select
            class="form-control form-select-solid fw-bolder"
            name="status"
            [(ngModel)]="input.status"
            [ngModelOptions]="{ standalone: true }"
          >
            <option>-- Select --</option>
            <option value="inprogress">in progress</option>
            <option value="initiated">Initiated</option>
            <option value="mastered">mastered</option>
            <option value="on hold">On Hold</option>
            <option value="discontinued">Discontinued</option>
            <option value="maintenance">Maintenance</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="form-group local-forms">
          <label>Initial Date<span class="login-danger">*</span> </label>
          <input
            class="form-control datetimepicker"
            name="date"
            [(ngModel)]="input.initial_date"
            type="text"
            matInput
            [matDatepicker]="pickerDateLTO"
          />
          <mat-datepicker #pickerDateLTO> </mat-datepicker>
          <mat-datepicker-toggle matIconSuffix [for]="pickerDateLTO">
          </mat-datepicker-toggle>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="form-group local-forms">
          <label>End Date<span class="login-danger">*</span> </label>
          <input
            class="form-control datetimepicker"
            name="end_date"
            [(ngModel)]="input.end_date"
            type="text"
            matInput
            [matDatepicker]="pickerDateLTO1"
          />
          <mat-datepicker #pickerDateLTO1> </mat-datepicker>
          <mat-datepicker-toggle matIconSuffix [for]="pickerDateLTO1">
          </mat-datepicker-toggle>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3 doctor-submit text-end">
      <button class="btn btn-primary btn-sm" (click)="onSave()">
        Add to List
      </button>
    </div>
  </div>
</div>
