<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item" *ngIf="role === 'SUPERADMIN'">
              <a routerLink="/location/list">Locations </a>
            </li>
            <li class="breadcrumb-item" *ngIf="role === 'SUPERADMIN'">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">View Location</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="backrgoundimage" *ngIf="location_selected?.avatar !== null">
          <img [src]="location_selected?.avatar" alt="" />
        </div>

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <h4>Location Detail: {{ location_selected?.title }}</h4>
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-xs-12 col-sm-3">
                        <p>
                          <b>Location Name:</b>&nbsp;{{
                            location_selected?.title
                          }}
                        </p>
                        <p><b>Email:</b>&nbsp;{{ location_selected?.email }}</p>
                        <p><b>zip:</b>&nbsp;{{ location_selected?.zip }}</p>
                        <p>
                          <b>Phone 1:</b>&nbsp;{{ location_selected?.phone1 }}
                        </p>
                        <p>
                          <b>Phone 2:</b>&nbsp;{{ location_selected?.phone2 }}
                        </p>
                        <p><b>Fax:</b>&nbsp;{{ location_selected?.telfax }}</p>
                      </div>
                      <div class="col-xs-12 col-sm-3">
                        <p><b>State:</b>&nbsp;{{ location_selected?.state }}</p>
                        <p><b>City:</b>&nbsp;{{ location_selected?.city }}</p>
                        <p>
                          <b>Address:</b><br />
                          {{ location_selected?.address }}
                        </p>
                      </div>
                      <div class="col-xs-12 col-sm-6">
                        <!-- <p>mapa</p> -->
                        <img
                          [src]="location_selected?.avatar"
                          style="width: 100%; margin-bottom: 20px"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fin basico					 -->
    </div>

    <div class="tab-content-set">
      <ul class="nav">
        <li>
          <a
            href="#"
            onclick="return false;"
            [ngClass]="{ active: option_selected === 1 }"
            (click)="optionSelected(1)"
            ><span class="set-about-icon me-2"
              ><img src="assets/img/icons/menu-icon-02.svg" alt="" /></span
            >Specialists({{ specialists.length }})</a
          >
        </li>
        <li>
          <a
            href="#"
            onclick="return false;"
            [ngClass]="{ active: option_selected === 2 }"
            (click)="optionSelected(2)"
            ><span class="set-about-icon me-2"
              ><img src="assets/img/icons/menu-icon-02.svg" alt="" /></span
            >Clients({{ patients.length }})</a
          >
        </li>
        <li>
          <a
            href="#"
            onclick="return false;"
            [ngClass]="{ active: option_selected === 3 }"
            (click)="optionSelected(3)"
            ><span class="set-about-icon me-2"
              ><img src="assets/img/icons/menu-icon-02.svg" alt="" /></span
            >Notes</a
          >
        </li>
      </ul>
    </div>
    <div class="row">
      <ng-container *ngIf="option_selected === 1">
        <app-specialist-location></app-specialist-location>
      </ng-container>

      <ng-container *ngIf="option_selected === 2">
        <app-clients-location></app-clients-location>
      </ng-container>

      <ng-container *ngIf="option_selected === 3">
        <app-log-notas></app-log-notas>
      </ng-container>
    </div>
  </div>
</div>
