<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <div class="col-xs-12">
        <!-- list -->
        <app-list-and-form
          *ngIf="state === 'list'"
          #list
          title="Replacements Goals"
          [(newItem)]="newGoal"
          [(dataSource)]="input"
          [displayedColumns]="displayedColumns"
          [renders]="renders"
          [options]="options"
          (dataSourceChange)="onDataSourceChange($event)"
        >
          <app-plan-form
            title="Skill Acquisition/Replacement Goals"
            [(input)]="newGoal"
            (cancel)="list.onClose()"
            (save)="list.onAdd($event); onSave()"
          >
            <p>
              These goals will be accomplished using shaping and chaining
              procedures accompanied by most-to least promptings and level of
              assistance. Level of assistance will depend on the client’s needs
              and the nature of the behavioral goal. Level of assistance will be
              indicated in the instruction section of each program data
              collection form. Programs for Alternative Behaviors should also be
              implemented using Incidental Teaching, meaning at every
              opportunity of teaching these behaviors is presented while
              services are provided.
            </p>
          </app-plan-form>
        </app-list-and-form>
        <!-- Save -->
        <div *ngIf="state === 'list'" class="doctor-submit text-end mt-4">
          <button class="btn btn-primary btn-sm" (click)="onSave()">
            Save
          </button>
        </div>
        <!-- Back -->
        <div *ngIf="state !== 'list'" class="doctor-submit text-end">
          <button class="btn btn-primary btn-sm" (click)="onBack()">
            Back
          </button>
        </div>
        <!-- Edit -->
        <div *ngIf="state === 'edit'">
          <app-plan-edit
            title="Skill Acquisition/Replacement Goals"
            [(input)]="newGoal"
            (cancel)="onBack()"
            (save)="onUpdate($event)"
          >
            <p>
              These goals will be accomplished using shaping and chaining
              procedures accompanied by most-to least promptings and level of
              assistance. Level of assistance will depend on the client’s needs
              and the nature of the behavioral goal. Level of assistance will be
              indicated in the instruction section of each program data
              collection form. Programs for Alternative Behaviors should also be
              implemented using Incidental Teaching, meaning at every
              opportunity of teaching these behaviors is presented while
              services are provided.
            </p>
          </app-plan-edit>

          <app-chart-replacement
            [goal]="newGoal.name"
            [baseline_d]="newGoal.baseline_date"
          ></app-chart-replacement>
        </div>
      </div>
    </div>
  </div>
</div>
