<div class="row">
  <div class="col-12">
    <div class="personal-list-out">
      <div class="card">
        <div class="card-body">
          <div class="about-info mb-10">
            <h4>Reduction Goals</h4>
          </div>

          <div class="row">
            <div *ngIf="!reduction_goal?.length">
              <app-no-info></app-no-info>
            </div>
            <ng-container *ngFor="let item of reduction_goal">
              <div class="col-xs-12 col-sm-4">
                <div class="detail-personal">
                  <h2>Goal</h2>
                  <p>{{ item.name }}</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="detail-personal">
                  <h2>Current Status</h2>
                  <p>{{ item.status }}</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="detail-personal">
                  <h2>Created at</h2>
                  <p>{{ item.created_at | date : "shortDate" }}</p>
                </div>
              </div>
              <div *ngIf="!item.objectives?.length">
                <app-no-info></app-no-info>
              </div>

              <!-- <h2 class="text-center">Grafico</h2> -->
              <app-chart-reduction [maladaptive]="item"></app-chart-reduction>
              <!-- [maladaptive_behavior]="item.name"
                [baseline_date]="item.baseline_date"
                [baseline_level]="item.baseline_level"
                [initial_interesting]="item.initial_intensity"
              ></app-chart-reduction> -->
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
