<div class="row">
  <h3 class="card-title">{{ title }}</h3>
  <app-plan-form
    title=""
    [(input)]="input"
    (cancel)="onCancel()"
    (save)="onSave()"
  >
    <ng-content></ng-content>
  </app-plan-form>

  <app-list-and-form
    class="mt-4"
    title="Short Term Objectives"
    [(newItem)]="newSto"
    [dataSource]="input.objectives | arrayFilter : 'type' : 'STO'"
    [displayedColumns]="displayedColumns"
    [renders]="renders"
  >
    <app-objective-form
      [(input)]="newSto"
      title="Short Term Objective"
    ></app-objective-form>
  </app-list-and-form>

  <app-list-and-form
    class="mt-4"
    title="Long Term Objectives"
    [(newItem)]="newLto"
    [dataSource]="input.objectives | arrayFilter : 'type' : 'LTO'"
    [displayedColumns]="displayedColumns"
    [renders]="renders"
  >
    <app-objective-form
      [(input)]="newLto"
      title="Long Term Objective"
    ></app-objective-form
  ></app-list-and-form>
</div>
