<div class="row">
  <div class="col-12">
    <div class="personal-list-out">
      <div class="card">
        <div class="card-body">
          <div class="about-info mb-10">
            <h4>
              Monitoring and Evaluating the Effectiveness of the plan/ Treatment
              Fidelity
            </h4>

            <p>
              Ongoing training and monitoring of the RBT will occur on a weekly
              basis to ensure proper implementation of the behavior program. The
              BCBA/lead analyst will conduct weekly competency checks to ensure
              proper program implementation. The BCBA/lead analyst will graph
              the data, depicting the results of the competency checks on
              monthly progress reports. Also, the BCBA/lead analyst will collect
              IOA data at least once a month to ensure proper data collection.
            </p>
            <p>Objectives included in assistant competency checks:</p>
            <ol>
              <li>Data collection</li>
              <li>Interventions/Environmental manipulations.</li>
              <li>
                Replacement goals used to teach the proper alternative to the
                maladaptive behavior targeted.
              </li>
              <li>Use of reinforcement</li>
            </ol>
          </div>

          <div *ngIf="rbt_training_goals">
            <ng-container *ngFor="let itemrtg of rbt_training_goals">
              <div class="row">
                <div class="col-xs-12">
                  <div class="detail-personal">
                    <h2>{{ itemrtg.name }}</h2>
                    <p>{{ itemrtg.description }}</p>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6">
                  <div class="detail-personal">
                    <h2>status</h2>
                    <p>{{ itemrtg.status }}</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="detail-personal">
                    <h2>date</h2>
                    <p>{{ itemrtg.baseline_date | date : "shortDate" }}</p>
                  </div>
                </div>
              </div>
              <hr />
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
