<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <div class="col-xs-12">
        <app-list-and-form
          *ngIf="state === 'list'"
          #list
          title="Maladaptives Behaviors"
          [(newItem)]="newMaladaptive"
          [(dataSource)]="input"
          [displayedColumns]="[
            'name',
            'baseline_level',
            'baseline_date',
            'initial_intensity',
            'current_intensity',
            'description'
          ]"
          [renders]="renders"
          [options]="options"
        >
          <app-maladaptive-form
            [(input)]="newMaladaptive"
            (cancel)="list.onClose()"
            (save)="list.onAdd($event)"
          ></app-maladaptive-form>
        </app-list-and-form>
        <!-- Back -->
        <div *ngIf="state !== 'list'" class="doctor-submit text-end">
          <button class="btn btn-primary btn-sm" (click)="onBack()">
            Back
          </button>
        </div>
        <!-- Edit -->
        <div *ngIf="state === 'edit'">
          <app-reduction-goal-edit [(goal)]="newMaladaptive">
          </app-reduction-goal-edit>
        </div>
        <!-- Grafico-->
        <div
          *ngIf="state === 'viewGraph'"
          class="rbt-dashboard-table table-responsive mobile-table-750"
        >
          <app-chart-reduction
            [maladaptive]="newMaladaptive"
            [patient_identifier]="patient_identifier"
          ></app-chart-reduction>
        </div>
      </div>
    </div>
  </div>
</div>
