<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <div class="col-xs-12">
        <!-- list -->
        <app-list-and-form
          *ngIf="state === 'list'"
          #list
          title="Maladaptives Behaviors"
          [(newItem)]="newGoal"
          [(dataSource)]="input"
          [displayedColumns]="displayedColumns"
          [renders]="renders"
          [options]="options"
        >
          <app-plan-form [(input)]="newGoal"></app-plan-form>
        </app-list-and-form>
        <!-- Back -->
        <div *ngIf="state !== 'list'" class="doctor-submit text-end">
          <button class="btn btn-primary btn-sm" (click)="onBack()">
            Back
          </button>
        </div>
        <!-- Edit -->
        <div *ngIf="state === 'edit'">
          <app-plan-edit
            title="Reduction Goal"
            [(input)]="newGoal"
            (cancel)="onBack()"
            (save)="onSave()"
          >
          </app-plan-edit>

          <app-chart-reduction
            [maladaptive]="newGoal"
            [patient_identifier]="patient_identifier"
          ></app-chart-reduction>
        </div>
      </div>
    </div>
  </div>
</div>
