<div class="d-flex flex-column">
  <!-- Top section -->
  <div class="d-flex flex-column">
    <h4 class="mb-2">{{ title }}</h4>
    <div>
      <ng-content></ng-content>
    </div>
  </div>
  <!-- Bottom section -->
  <div>
    <div class="d-flex justify-content-end">
      <button
        *ngIf="addButtonOptions.show"
        [ngClass]="addButtonOptions.class"
        (click)="onAdd()"
      >
        <i *ngIf="addButtonOptions.icon" [ngClass]="addButtonOptions.icon"></i>
        {{ addButtonOptions.text }}
      </button>
    </div>
    <div class="table-responsive border rounded">
      <table mat-table [dataSource]="dataSource" class="">
        <tr *matNoDataRow>
          <td
            style="height: 52px; padding: 1rem"
            innerHTML="{{ noDataText ?? 'No data found' }}"
          ></td>
        </tr>

        <tr
          mat-header-row
          *matHeaderRowDef="
            displayedColumns | listColumns : ['___options'] : options?.length
          "
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let row;
            columns: displayedColumns
              | listColumns : ['___options'] : options?.length
          "
        ></tr>

        <ng-container *ngFor="let item of displayedColumns">
          <ng-container [matColumnDef]="$any(item)">
            <th mat-header-cell *matHeaderCellDef>
              {{ $any(item) | clearText | titlecase |headRender: headRenders?.[item]}}
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              innerHtml="{{ element|cellRender :item : renders?.[item] }}"
              style="white-space: pre-wrap"
            ></td>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="options?.length">
          <ng-container [matColumnDef]="'___options'">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              Options
            </th>
            <td mat-cell *matCellDef="let element" class="text-end">
              <ng-container *ngFor="let option of options">
                <button
                  class="btn btn-sm"
                  [ngClass]="option.class"
                  (click)="onClick(option, element)"
                >
                  <i *ngIf="option.icon" [class]="option.icon"></i>
                  {{ option.text }}
                </button>
              </ng-container>
            </td>
          </ng-container>
        </ng-container>
      </table>
    </div>
  </div>
</div>
