<div *ngIf="!patient">
  <app-no-info></app-no-info>
</div>

<div class="page-wrapper" *ngIf="patient">
  <div class="content">
    <!-- Page Header -->
    <app-page-header></app-page-header>

    <!-- /Page Header -->
    <div class="row" id="contentToConvert" #contentToConvert>
      <div class="col-sm-12" *ngIf="bip">
        <app-bip-profile-head
          [patient]="patient"
          [contentToConvert]="$any(contentToConvert)"
        ></app-bip-profile-head>
        <!-- data client -->
        <app-bip-profile-patient-data [patient]="patient" [bip]="bip">
        </app-bip-profile-patient-data>

        <!-- data client end-->
        <!-- documents Reviewed-->
        <app-bip-documents-show [documents]="bip.documents_reviewed">
        </app-bip-documents-show>

        <!-- documents Reviewed end-->

        <!-- Background Information-->
        <app-bip-profile-background [bip]="bip"></app-bip-profile-background>

        <!-- Background Information end-->

        <!-- Maladaptives Behaviors-->
        <app-bip-profile-maladaptives
          [patient]="patient"
          [maladaptives]="bip.maladaptives"
        >
        </app-bip-profile-maladaptives>

        <!-- Maladaptives Behaviors end-->

        <!-- Assestment Conducted-->
        <app-bip-profile-assestment [bip]="bip"></app-bip-profile-assestment>

        <!-- Assestment Conducted end-->

        <!-- Prevalent Setting Events & Antecedents-->
        <app-bip-profile-prevalent
          [prevalent_setting_event_and_atecedents]="
            bip.prevalent_setting_event_and_atecedents
          "
        ></app-bip-profile-prevalent>

        <!-- Prevalent Setting Events & Antecedents end-->
        <!-- Hypothesis-based interventions-->
        <app-bip-profile-hypothesis [bip]="bip"></app-bip-profile-hypothesis>

        <!-- Hypothesis-based interventions end-->
        <!-- interventions -->
        <app-bip-profile-interventions
          [interventions]="bip.interventions"
        ></app-bip-profile-interventions>

        <!-- interventions end-->

        <!-- Reduction Goals-->
        <app-bip-profile-reductions
          [reduction_goal]="bip.reduction_goal"
        ></app-bip-profile-reductions>

        <!-- Reduction Goals end-->
        <!-- Replacement Goals-->
        <app-bip-profile-replacements
          [bip]="bip"
        ></app-bip-profile-replacements>

        <!-- Replacement Goals end-->

        <!-- Family Involvement-->
        <app-bip-profile-family
          [family_envolment]="bip.family_envolment"
        ></app-bip-profile-family>

        <!-- Family Involvement end-->
        <!-- Monitoring Evaluating-->
        <app-bip-profile-monotoring
          [rbt_training_goals]="bip.rbt_training_goals"
        ></app-bip-profile-monotoring>

        <!-- Monitoring Evaluating end-->
        <!-- behavior asistant (only text) -->
        <app-bip-profile-behavior [bip]="bip"></app-bip-profile-behavior>

        <!-- behavior asistant end-->

        <!-- Generalization Training-->
        <app-bip-profile-generalization
          [generalization_training]="bip.generalization_training[0]"
        ></app-bip-profile-generalization>

        <!-- Generalization Training end-->

        <!-- Crisis Plan-->
        <app-bip-profile-crisis-plan
          [crisis_plan]="bip.crisis_plan[0]"
        ></app-bip-profile-crisis-plan>

        <!-- Crisis Plan end-->
        <!-- De-escalation Techniques-->

        <app-bip-profile-de-escalation
          [de_escalation_technique]="bip.de_escalation_technique"
        ></app-bip-profile-de-escalation>

        <!-- De-escalation Techniques end-->
        <!-- Consent to Treatment-->
        <app-bip-profile-consent
          [consent_to_treatment]="bip.consent_to_treatment"
        ></app-bip-profile-consent>

        <!-- Consent to Treatment end-->
      </div>
    </div>
  </div>
</div>
