<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <form autocomplete="false">
        <div class="row">
          <h3 class="card-title">Hypothesis-based interventions</h3>
          <!-- Hypothesis textarea section -->
          <div class="row align-items-center">
            <div class="col-12">
              <div class="form-group local-forms">
                <label>
                  Hypothesis-based interventions
                  <span class="login-danger">* </span>
                </label>
                <textarea
                  class="form-control"
                  name="hypothesis_based_intervention"
                  [(ngModel)]="input.hypothesis_based_intervention"
                  (ngModelChange)="inputChange.emit(input)"
                  rows="4"
                  cols="30"
                >
                </textarea>
              </div>
            </div>
          </div>

          <!-- Tangibles Section -->
          <div class="row align-items-center my-4">
            <app-list-and-form
              [headRenders]="headRenders"
              #tangiblesList
              title="Access to Tangibles Activities"
              [(newItem)]="newTangible"
              [(dataSource)]="input.tangibles"
              [displayedColumns]="[
                'preventive_strategies',
                'replacement_skills',
                'manager_strategies'
              ]"
            >
              <app-tangible-form
                [(input)]="newTangible"
                (cancel)="tangiblesList.onClose()"
                (save)="tangiblesList.onAdd($event)"
              >
              </app-tangible-form>
            </app-list-and-form>
          </div>

          <!-- Sensory Section -->
          <div class="row align-items-center my-4">
            <app-list-and-form
              [headRenders]="headRenders"
              #sensoryList
              title="Automatic"
              [(newItem)]="newSensory"
              [(dataSource)]="input.sensory"
              [displayedColumns]="[
                'preventive_strategies',
                'replacement_skills',
                'manager_strategies'
              ]"
            >
              <app-sensory-form
                [(input)]="newSensory"
                (cancel)="sensoryList.onClose()"
                (save)="sensoryList.onAdd($event)"
              >
              </app-sensory-form>
            </app-list-and-form>
          </div>

          <!-- Escape Section -->
          <div class="row align-items-center my-4">
            <app-list-and-form
              [headRenders]="headRenders"
              #escapeList
              title="Escape"
              [(newItem)]="newEscape"
              [(dataSource)]="input.escape"
              [displayedColumns]="[
                'preventive_strategies',
                'replacement_skills',
                'manager_strategies'
              ]"
            >
              <app-escape-form
                [(input)]="newEscape"
                (cancel)="escapeList.onClose()"
                (save)="escapeList.onAdd($event)"
              >
              </app-escape-form>
            </app-list-and-form>
          </div>

          <!-- Attention Section -->
          <div class="row align-items-center my-4">
            <app-list-and-form
              [headRenders]="headRenders"
              #attentionList
              title="Attention"
              [(newItem)]="newAttention"
              [(dataSource)]="input.attention"
              [displayedColumns]="[
                'preventive_strategies',
                'replacement_skills',
                'manager_strategies'
              ]"
            >
              <app-attention-form
                [(input)]="newAttention"
                (cancel)="attentionList.onClose()"
                (save)="attentionList.onAdd($event)"
              >
              </app-attention-form>
            </app-list-and-form>
          </div>

          <!-- Save Button -->
          <div class="col-12">
            <div class="doctor-submit text-end">
              <button
                type="button"
                class="btn btn-primary submit-form me-2"
                (click)="onSave()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
