<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <ng-container *ngIf="fromParam?.toLowerCase() === 'log'; else defaultBreadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="['/reports/logs']">Log Report</a>
              </li>
              <li class="breadcrumb-item">
                <i class="feather icon-chevron-right"></i>
              </li>
              <li class="breadcrumb-item">
                <a [routerLink]="[routes.noteBcba.view, note_id]" [queryParams]="{ from: fromParam }">View Note</a>
              </li>
              <li class="breadcrumb-item">
                <i class="feather icon-chevron-right"></i>
              </li>
              <li class="breadcrumb-item active">Edit Note</li>
            </ng-container>
            <ng-template #defaultBreadcrumb>
              <li class="breadcrumb-item">
                <a [routerLink]="[routes.noteBcba.list, patient_identifier]">BCBA Notes</a>
              </li>
              <li class="breadcrumb-item">
                <i class="feather icon-chevron-right"></i>
              </li>
              <li class="breadcrumb-item active">Edit Note</li>
            </ng-template>
          </ul>
          <div class="doctor-submit text-start">
            <button class="btn btn-primary btn-sm" (click)="goBack()">
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <!-- paciente -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form autocomplete="false">
              <!-- paciente -->
              <div class="row align-items-center py-4">
                <div class="col-12 py-4">
                  <h4>Edit Note Bcba</h4>
                </div>
                <!-- First Name -->
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>First Name <span class="login-danger">*</span></label>
                    <input class="form-control" name="first_name" disabled [(ngModel)]="first_name" type="text" />
                  </div>
                </div>
                <!-- Last Name -->
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Last Name <span class="login-danger">*</span></label>
                    <input class="form-control" name="last_name" disabled [(ngModel)]="last_name" type="text" />
                  </div>
                </div>
                <!-- Patient IDentifier -->
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Patient ID <span class="login-danger">*</span></label>
                    <input class="form-control" name="patient_identifier" disabled [(ngModel)]="patient_identifier"
                      type="text" />
                  </div>
                </div>
                <!-- Diagnosis Code  -->
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Diagnosis Code <span class="login-danger">*</span></label>
                    <input class="form-control" name="diagnosis_code" disabled [(ngModel)]="diagnosis_code"
                      type="text" />
                  </div>
                </div>
                <!-- Birth day -->
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Birth day <span class="login-danger">*</span></label>
                    <input class="form-control datetimepicker" disabled name="birth_date" [(ngModel)]="birth_date"
                      type="text" matInput [matDatepicker]="picker" />
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  </div>
                </div>
                <!-- Rendering Provider -->
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Rendering Provider
                      <span class="login-danger">*</span></label>
                    <mat-select [(ngModel)]="selectedValueProviderRBT_id" name="rendering_provider"
                      [ngModelOptions]="{ standalone: true }" class="form-control select"
                      (selectionChange)="selectSpecialist($event)" placeholder="Select Specialist">
                      <mat-option *ngFor="let data of roles_bcba" [value]="data.id">
                        {{ data.name }} {{ data.surname }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <!-- Supervisor -->
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Supervisor<span class="login-danger">*</span></label>
                    <mat-select [(ngModel)]="selectedValueBcba_id" name="aba_supervisor"
                      [ngModelOptions]="{ standalone: true }" class="form-control select"
                      (selectionChange)="selectSpecialistBCBA($event)" placeholder="Select Specialist">
                      <mat-option *ngFor="let data of specialists" [value]="data.id">
                        {{ data.name }} {{ data.surname }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>

                <!-- DOS -->
                <div class="col-12 col-md-3">
                  <div class="form-group local-forms">
                    <label>DOS <span class="login-danger">*</span></label>
                    <input class="form-control datetimepicker" autocomplete="false" name="session_date"
                      [(ngModel)]="session_date" type="text" matInput [matDatepicker]="pickerSesDate" />
                    <mat-datepicker #pickerSesDate></mat-datepicker>
                    <mat-datepicker-toggle matIconSuffix [for]="pickerSesDate"></mat-datepicker-toggle>
                  </div>
                </div>
                <!-- POS -->
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>POS <span class="login-danger">*</span></label>
                    <select class="form-control form-select-solid fw-bolder" name="meet_with_client_at"
                      [(ngModel)]="meet_with_client_at">
                      <option>-- Select --</option>
                      <option value="03">03 School</option>
                      <option value="12">12 Home</option>
                      <option value="02">02 Telehealth</option>
                      <option value="99">99 Other</option>
                    </select>
                  </div>
                </div>
                <div class="clear"></div>
                <!-- time -->
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <h5 class="mb-3">Morning Session</h5>
                    <div class="row">
                      <div class="col-xs-12 col-sm-6">
                        <div class="form-group local-forms">
                          <label>Time In <span class="login-danger">*</span></label>
                          <input [value]="selectedValueTimeIn" [ngxTimepicker]="toggleTimepicker" readonly [format]="24"
                            class="form-control" [(ngModel)]="selectedValueTimeIn" name="time_in" />
                          <ngx-material-timepicker (timeChanged)="hourTimeInSelected($event)"
                            #toggleTimepicker></ngx-material-timepicker>
                        </div>
                      </div>
                      <!-- [max]="'12:00'" -->
                      <div class="col-xs-12 col-sm-6">
                        <div class="form-group local-forms">
                          <label>Time Out <span class="login-danger">*</span></label>
                          <input [ngxTimepicker]="toggleTimepicker2" readonly [value]="selectedValueTimeOut"
                            [(ngModel)]="selectedValueTimeOut" [format]="24" class="form-control" name="time_out" />
                          <!-- <ngx-material-timepicker-toggle [for]="toggleTimepicker2"></ngx-material-timepicker-toggle> -->
                          <ngx-material-timepicker (timeChanged)="hourTimeOutSelected($event)"
                            #toggleTimepicker2></ngx-material-timepicker>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <h5 class="mb-3">Afternoon Session</h5>
                    <div class="row">
                      <!-- [min]="'12:00'" -->
                      <div class="col-xs-12 col-sm-6">
                        <div class="form-group local-forms">
                          <label>Time In<span class="login-danger">*</span></label>
                          <input [ngxTimepicker]="toggleTimepicker3" readonly [value]="selectedValueTimeIn2"
                            [(ngModel)]="selectedValueTimeIn2" [format]="24" class="form-control" name="time_in2" />
                          <!-- <ngx-material-timepicker-toggle [for]="toggleTimepicker3"></ngx-material-timepicker-toggle> -->
                          <ngx-material-timepicker (timeChanged)="hourTimeIn2Selected($event)"
                            #toggleTimepicker3></ngx-material-timepicker>
                        </div>
                      </div>

                      <!-- [min]="'12:00'" -->
                      <div class="col-xs-12 col-sm-6">
                        <div class="form-group local-forms">
                          <label>Time Out <span class="login-danger">*</span></label>
                          <input [ngxTimepicker]="toggleTimepicker4" readonly [value]="selectedValueTimeOut2"
                            [(ngModel)]="selectedValueTimeOut2" [format]="24" class="form-control" name="time_out2" />
                          <!-- <ngx-material-timepicker-toggle [for]="toggleTimepicker4"></ngx-material-timepicker-toggle> -->
                          <ngx-material-timepicker (timeChanged)="hourTimeOut2Selected($event)"
                            #toggleTimepicker4></ngx-material-timepicker>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Session Length Total -->
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Session Length Total<span class="login-danger">*</span></label>
                    <p class="text-center p-3">
                      {{ session_length_total }}
                    </p>
                  </div>
                </div>
                <!-- time -->

                <!--  units -->
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>CPT Code <span class="login-danger">*</span></label>
                    <mat-select [(ngModel)]="selectedPaService" name="pa_service"
                      (selectionChange)="onPaServiceSelect($event)" class="form-control select"
                      placeholder="Select Service">
                      <mat-option *ngFor="let service of pa_services" [value]="service">
                        {{ service.pa_service }} ({{ service.cpt }})
                      </mat-option>
                    </mat-select>
                  </div>
                </div>

                <!-- CPT Code51 -->
                <div *ngIf="show97151 || show971511 || show971512" class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Type <span class="login-danger">*</span></label>
                    <mat-select [(ngModel)]="selectedPaService1" name="pa_service"
                      (selectionChange)="onPaServiceSelect2($event)" class="form-control select"
                      placeholder="Select Service">
                      <mat-option *ngFor="let service of show97151List" [value]="service">
                        ({{ service.cpt }})
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <!-- CPT Code51 -->

                <!-- PA Service Calculator Information -->
                <div class="col-12 col-md-6 col-xl-4">
                  <app-pa-service-calculator [selectedPaService]="selectedPaService" [projectedUnits]="projectedUnits">
                  </app-pa-service-calculator>
                </div>

                <div class="col-12 col-md-6 col-xl-4">
                  <app-units-display [service]="selectedPaService" [newUnits]="projectedUnits">
                  </app-units-display>
                </div>
                <!--  fin units -->
                <!-- Environmental Changes -->
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Environmental Changes
                      <span class="login-danger">*</span></label>
                    <input class="form-control" name="environmental_changes"
                      [(ngModel)]="environmental_changes" type="text" />
                  </div>
                </div>
                <!-- Present this session -->
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Present this session
                      <span class="login-danger">*</span></label>
                    <input class="form-control" name="participants" [(ngModel)]="participants"
                      type="text" />
                  </div>
                </div>
              </div>
              <!-- paciente -->
            </form>
          </div>
        </div>
      </div>
      <!-- fin paciente -->

      <!-- !show97155 && !show97156 -->
      <ng-container *ngIf="!show97155 && !show97156 && !show97151 && !show971512">
        <div class="col-xs-12">
          <div class="card">
            <div class="card-body">
              <div class="col-12">
                <h5>Caregiver Goal</h5>
                <p class="text-danger">
                  Note: Please fill out all fields. If you didn't have any
                  reaction, enter "0"
                </p>
              </div>
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th>Caregiver Goal</th>
                      <th>% of Occurrences</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="
                        let goal of caregivers_training_goals;
                        let i = index
                      ">
                      <td>{{ goal.name }}</td>
                      <td>
                        <input class="form-control" type="number" [(ngModel)]="goal.porcent_of_correct_response"
                          (ngModelChange)="updateCaregiverGoal(i)" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- fin Family -->
        <!-- Monitoring  full-->
        <!-- <div class="col-xs-12 col-sm-6"  >
          <div class="card">
            <div class="card-body">
              <div class="col-12">
                <h4>RBT Training goals</h4>
                <p class="text-danger">
                  Note: Please fill out all fields. If you didn't have any
                  reaction, enter "0"
                </p>
              </div>
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th>RBT Training Goal</th>
                      <th>% of correct responses</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let goal of rbt_training_goals; let i = index">
                      <td>{{ goal.lto }}</td>
                      <td>
                        <input
                          class="form-control"
                          type="number"
                          [(ngModel)]="goal.porcent_of_correct_response"
                          (ngModelChange)="updateRbtGoal(i)"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div> -->
        <!-- fin Monitoring -->
      </ng-container>

      <!--   only 51 -1-->
      <!-- [$event]="$event" -->
      <app-show917511 [show971511]="show971511"
      (bcbaclientChange)="BCBA_conducted_client_observations = $event" 
      (bcbaconductedChange)="BCBA_conducted_assessments = $event"
        [BCBA_conducted_client_observations]="BCBA_conducted_client_observations"
        [BCBA_conducted_assessments]="BCBA_conducted_assessments" 
        [newList]="newList"
        [onNewListChange]="onNewListChange" 
        [outcomeList]="outcomeList"
        [onIntakeoutcomeChange]="onIntakeoutcomeChange"></app-show917511>
      <!--   only 51 -2-->
      <!-- [$event]="$event" -->
      <app-show917512 [show971512]="show971512"
        (bcbaclient2Change)="BCBA_conducted_client_observations = $event" 
        (bcbaconducted2Change)="BCBA_conducted_assessments = $event"
        [BCBA_conducted_client_observations]="BCBA_conducted_client_observations"
        [BCBA_conducted_assessments]="BCBA_conducted_assessments"></app-show917512>
      <!--   only 55-->
      <app-show91755 [show97155]="show97155"
      (modificationsChange)="modifications_needed_at_this_time = $event" 
      (additionalChange)="additional_goals_or_interventions = $event"
      [interventionsList2]="interventionsList2"
        [onInterventions2Change]="onInterventions2Change" 
        [obj_inprogress1]="obj_inprogress1"
        [onReplacement2Change]="onReplacement2Change"
        [modifications_needed_at_this_time]="modifications_needed_at_this_time"
        [additional_goals_or_interventions]="additional_goals_or_interventions"></app-show91755>

      <!--  only 56 -->
      <app-show91756 [show97156]="show97156"
      (cargiverChange)="cargiver_participation = $event" 
      (wastheclientChange)="was_the_client_present = $event"
      (askedChange)="asked_and_clarified_questions_about_the_implementation_of = $event"
      (reinforcedChange)="reinforced_caregiver_strengths_in = $event"
      (gaveChange)="gave_constructive_feedback_on = $event"
      (recomendedChange)="recomended_more_practice_on = $event"
       [interventionsList]="interventionsList"
        [onInterventionsChange]="onInterventionsChange" 
        [obj_inprogress]="obj_inprogress"
        [onReplacementChange]="onReplacementChange" [behaviorList]="behaviorList" [onBehaviorChange]="onBehaviorChange"
        [cargiver_participation]="cargiver_participation" [was_the_client_present]="was_the_client_present"
        [asked_and_clarified_questions_about_the_implementation_of]="asked_and_clarified_questions_about_the_implementation_of"
        [reinforced_caregiver_strengths_in]="reinforced_caregiver_strengths_in"
        [gave_constructive_feedback_on]="gave_constructive_feedback_on"
        [recomended_more_practice_on]="recomended_more_practice_on"></app-show91756>

      <!-- fin  -->

      <!-- Sumary note -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form autocomplete="false">
              <div class="row align-items-center py-4">
                <!-- Summary Note -->
                <div class="col-12">
                  <div class="form-group local-forms">
                    <label>Summary Note<span class="login-danger">*</span></label>
                    <textarea class="form-control" name="summary_note" [(ngModel)]="summary_note" rows="4"
                      cols="30"></textarea>
                    <button class="btn btn-primary ml-2 btn-sm" (click)="generateAISummary()"
                      [disabled]="isGeneratingSummary">
                      {{
                      isGeneratingSummary
                      ? "Generating..."
                      : "Generate AI Summary"
                      }}
                    </button>
                  </div>
                </div>
                <!-- Provider name BCBA -->
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <label>Provider name BCBA
                      <span class="login-danger">*</span></label>
                    <mat-select [(ngModel)]="selectedValueProviderRBT_id" name="rbt"
                      [ngModelOptions]="{ standalone: true }" class="form-control select"
                      (selectionChange)="selectFirmaSpecialistRbt($event)" placeholder="Select Specialist">
                      <mat-option *ngFor="let data of roles_bcba" [value]="data.id">
                        {{ data.name }} {{ data.surname }}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
                <!-- Provider Signature -->
                <div class="col-12 col-md-6 col-xl-6">
                  <div class="form-group local-top-form">
                    <label class="local-top">Provider Signature
                      <span class="login-danger">*</span></label>
                  </div>

                  <!-- previsualizacion de la foto -->
                  <div *ngIf="FILE_SIGNATURE_RBT">
                    <img [src]="IMAGE_PREVISUALIZA_SIGNATURE__RBT" style="width: 250px" alt="" />
                  </div>
                  <div *ngIf="IMAGE_PREVISUALIZA_SIGNATURE__RBT_CREATED">
                    <img [src]="IMAGE_PREVISUALIZA_SIGNATURE__RBT_CREATED" style="width: 250px" alt="" />
                  </div>
                  <!-- previsualizacion de la foto -->
                </div>
                <!-- Supervisor name BCBA -->
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="form-group local-forms">
                    <div class="form-group local-forms">
                      <label>Supervisor name BCBA
                        <span class="login-danger">*</span></label>
                      <mat-select [(ngModel)]="selectedValueBcba_id"
                        (selectionChange)="selectFirmaSpecialistBcba($event)" name="bcba"
                        [ngModelOptions]="{ standalone: true }" class="form-control select"
                        placeholder="Select Specialist">
                        <mat-option *ngFor="let data of specialists" [value]="data.id">
                          {{ data.name }} {{ data.surname }}
                        </mat-option>
                      </mat-select>
                    </div>
                  </div>
                </div>
                <!-- Supervisor Signature -->
                <div class="col-12 col-md-6 col-xl-6">
                  <div class="form-group local-top-form">
                    <label class="local-top">Supervisor Signature
                      <span class="login-danger">*</span></label>
                  </div>

                  <!-- previsualizacion de la foto -->
                  <div *ngIf="FILE_SIGNATURE_BCBA">
                    <img [src]="IMAGE_PREVISUALIZA_SIGNATURE_BCBA" style="width: 250px" alt="" />
                  </div>
                  <div *ngIf="IMAGE_PREVISUALIZA_SIGNATURE_BCBA_CREATED">
                    <img [src]="IMAGE_PREVISUALIZA_SIGNATURE_BCBA_CREATED" style="width: 250px" alt="" />
                  </div>
                  <!-- previsualizacion de la foto -->
                </div>
              </div>

              <div class="col-12">
                <div class="doctor-submit text-end">
                  <button type="button" class="btn btn-primary submit-form me-2" (click)="save()">
                    Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- fin paciente -->
    </div>
  </div>
</div>